<div id="body_div">
  <p id="company_name"><a href="http://nodoubt.site/" target="_blank">NODOUBT</a></p>
  <div class="oneline_notify">
      <div class="notify">
          <h2>&#128226; 알려드립니다!</h2>
          <h3><i class="far fa-dot-circle fa-sm"></i> 선배들의 자소서 내의 스펙, 활동 등의 정보를 우선 제공합니다</h3>
          <h3><i class="far fa-dot-circle fa-sm"></i> 해당 자소서의 핵심 POINT를 요약하여 제공합니다</h3>   
      </div>
  </div>
  <!-- break -->
  <div class="sample_title">
      <h3 id="sample_title_first">생활을 풍요롭고 편리하게 하는 기업</h3>
      <h2 id="sample_title_second">삼양사</h2>
  </div>
  <div class="sample">
      <div class="sample_content">
          <h4 id="sample_content_title">취뽀 선배의 스펙</h4>
          <div class="sample_content_private">
              <h2>개인정보</h2>
              <div class="sample_content_private_content">
                  <p>학력: 동국대학교 경영학부</p>
                  <p>회사: 남양유업</p>
                  <p>직무: 영업</p>
                  <p>취업 연도: 비공개</p>
                  <p>학점: 비공개</p>
              </div>
          </div>
          <div class="sample_content_language">
              <h2>어학능력</h2>
              <div class="sample_content_language_content">
                  <p>토익 975점</p>
                  <p>오픽 AL Level</p>
                  <p>토스 Level 8</p>
              </div>
          </div>
          <div class="sample_content_certificate">
              <h2>자격증</h2>
              <div class="sample_content_certificate_content">
                  <p>없음</p>
              </div>
          </div>
          <div class="sample_content_activity_in">
              <h2>교내활동</h2>
              <div class="sample_content_activity_in_content">
                  <p>학생회 1년</p>
              </div>
          </div>
          <div class="sample_content_activity_out">
              <h2>대외활동</h2>
              <div class="sample_content_activity_out_content">
                  <p>호주 워킹홀리데이 1년</p>
              </div>
          </div>
          <div class="sample_content_career">
              <h2>경력사항</h2>
              <div class="sample_content_career_content">
                  <p>KCC / 인턴 / 4개월</p>
                  <p>호주 Kobalt ENC / 인턴 / 4개월</p>
              </div>
          </div>
      </div>
  </div>
  <div class="summary">
      <div class="summary_title">
          <h1>취뿌 POINT!!</h1>
      </div>
      <div class="summary_content">
          <div class="summary_content_question">
              <h2>&#129300; 서수사를 사용하여 작성하기!</h2>
              <p>많은 기업에서 지원자의 강점 및 보완점에 대해 질문하는데요. 선배님은 이런 질문에 답할 때 서수사를 사용하면 좋다고 하셨습니다. 서수사는 첫째, 둘째와 같이 순서를 나타내는 말입니다. 이렇게 서수사를 사용하면 보다 명확하고 정리된 구조로 내용을 전달할 수 있습니다. 그럼, 선배의 자소서 일부를 보면서 알아볼까요?</p>
          </div>
          <div class="summary_content_exp">
              <h2>취뿌 선배의 자소서 중...</h2>
              <h3>Q: 본인이 생각하는 자신의 강점/보완점과 주위 사람들이 자신을 어떻게 표현하는지 기술하시오.</h3>
              <div class="summary_content_exp_sample">
                  <p>모든 일을 내 일처럼</p>
                  <p>저는 다 같이하는 일을 해도 제 일을 한다는 마음가짐으로 일하는 사람입니다.······ 각자 맡은 바만 열심히 하는 것이 아닌, 모두가 하나의 일을 한다고 생각해야 일이 유기적으로 돌아갈 수 있다는 마음가짐을 항상 가지고 있기 때문입니다. 그렇기에 항상 주변인들과 관계가 좋았습니다. 하지만 이를 두고 가끔 업무의 완성도가 조금 떨어지는 것 같다는 얘기도 들었습니다. 이를 해결하기 위해 여러 가지 방법을 고안했습니다.<br><br><strong>첫째, 다른 이에게 좀 더 귀를 기울입니다.</strong> 때로는 돕는다는 제 말이 단순히 오지랖으로 들릴 수 있으므로 소통을 더 강조하면서 같이 일을 진행하는 버릇을 들였습니다.<br><br><strong>둘째, 일이 끝난 후에도 끊임없이 확인합니다.</strong> 완벽해 보이는 일도 기존방식을 부정하고 끊임없이 재탐구함으로써 새로운 의견이 나온다고 생각해서입니다.</p>
              </div>
          </div>
          <div class="summary_content_answer">
              <h2>&#129299; 요약 및 정리</h2>
              <p>1. <strong>서수사를 사용</strong>하여 쉽게 읽을 수 있도록 작성하기!</p>
              <p>2. 서수사를 사용하여 중요한 <strong>내용을 강조하기!</strong></p>
          </div>
      </div>
  </div>
  <!-- break -->
  <div class="end_ment">
      <h5>NODOUBT 팀도 같은 취준생으로써 많은 불편함과 힘듦을 느끼고 있어요. 취준의 힘듦을 덜어주고자 이런 서비스를 만들어 봤습니다. 저희 서비스의 아쉬운 점이나 불편한 점이 있다면, 아래의 버튼을 클릭하여 피드백을 남겨주세요.</h5>
      <a href="http://nodoubt.site/feedback/" target="_blank"><button id="end_ment_btn">피드백 제출하러 가기</button></a>
  </div>
</div>
