<div id="body_div">
    <p id="company_name"><a href="http://nodoubt.site/" target="_blank">NODOUBT</a></p>
    <div class="oneline_notify">
        <div class="notify">
            <h2>&#128226; 알려드립니다!</h2>
            <h3><i class="far fa-dot-circle fa-sm"></i> 선배들의 자소서 내의 스펙, 활동 등의 정보를 우선 제공합니다</h3>
            <h3><i class="far fa-dot-circle fa-sm"></i> 해당 자소서의 핵심 POINT를 요약하여 제공합니다</h3>   
        </div>
    </div>
    <!-- break -->
    <div class="sample_title">
        <h3 id="sample_title_first">중소기업의 투자를 돕는 공기업!</h3>
        <h2 id="sample_title_second">대한 무역 진흥 공사, KOTRA</h2>
    </div>
    <div class="sample">
        <div class="sample_content">
            <h4 id="sample_content_title">취뽀 선배의 스펙</h4>
            <div class="sample_content_private">
                <h2>개인정보</h2>
                <div class="sample_content_private_content">
                    <p>블라인드 채용으로 학교명, 학점을 공개하지 않았습니다.</p>
                    <p>회사: KOTRA</p>
                    <p>직무: 총무(인턴)</p>
                    <p>취업 연도: 2021년 하반기</p>
                </div>
            </div>
            <div class="sample_content_language">
                <h2>어학능력</h2>
                <div class="sample_content_language_content">
                    <p>토익 930점</p>
                    <p>오픽 AL Level</p>
                </div>
            </div>
            <div class="sample_content_certificate">
                <h2>자격증</h2>
                <div class="sample_content_certificate_content">
                    <p>컴퓨터 활용 능력 1급 필기</p>
                </div>
            </div>
            <div class="sample_content_activity_in">
                <h2>교내활동</h2>
                <div class="sample_content_activity_in_content">
                    <p>없음</p>
                </div>
            </div>
            <div class="sample_content_activity_out">
                <h2>대외활동</h2>
                <div class="sample_content_activity_out_content">
                    <p>없음</p>
                </div>
            </div>
            <div class="sample_content_career">
                <h2>경력사항</h2>
                <div class="sample_content_career_content">
                    <p>없음</p>
                </div>
            </div>
        </div>
    </div>
    <div class="summary">
        <div class="summary_title">
            <h1>취뿌 POINT!!</h1>
        </div>
        <div class="summary_content">
            <div class="summary_content_question">
                <h2>&#129300; 자소서 작성 전에 기업 리서치는 필수!</h2>
                <p>위 선배의 스펙을 보면 어학점수가 높은 편이지만 스펙이 화려하진 않아요. 위 선배는 자소서를 쓰기 전 기업에 대한 많은 리서치를 강조했고 기업의 지향점, 특징을 바탕으로 자신의 경험을 녹여냈다고 해요! 실제 면접에서도 기업과 팀 업무 이해도 위주의 질문을 리서치한 내용을 토대로 답변했다고 하고요. 그럼 선배의 자소서 한 부분을 참고해 볼까요?</p>
            </div>
            <div class="summary_content_exp">
                <h2>취뿌 선배의 자소서 중...</h2>
                <h3>Q: 지원동기, 입사 후 계획 (500~1000자)</h3>
                <div class="summary_content_exp_sample">
                    <p>저는 코트라에서 외부적으로도 여러 성과를 내는 것과 동시에 10년 넘게 공공기관 <strong>평가 A등급을 유지한 공사</strong>가 어떠한 방식으로 내부평가를 진행하고 개선해 나아가며 건강한 조직을 유지하는지에 대한 방법을 배우고 싶습니다. ······ <strong>코트라의 CSR 활동 중 몽골의 경찰들을 대상으로 진행했던 치과 진료 사업, 이스라엘과 레바논을 대상으로 진행한 저비용 의수 보급 사업이 매우 인상 깊었습니다.</strong> 사회적으로 공헌을 하는 사업을 진행하며 그 과정을 통해 국내 중소, 중견기업들에 수출의 문을 열어주고 <strong>MOU를 체결하는 등, 사회적 책임과 중소, 중견기업의 해외 진출이라는 궁극적인 목표</strong>까지 한 번에 이루어내는 코트라를 보며 ······</p>
                </div>
            </div>
            <div class="summary_content_answer">
                <h2>&#129299; 요약 및 정리</h2>
                <p>1. 자소서 작성 전 <strong>기업 리서치를 통해 지향점 및 특징을 파악</strong>하기!</p>
                <p>2. <strong>기업의 지향점, 하는 일과 자신의 경험을 연결짓기!</strong></p>
            </div>
        </div>
    </div>
    <!-- break -->
    <div class="end_ment">
        <h5>NODOUBT 팀도 같은 취준생으로써 많은 불편함과 힘듦을 느끼고 있어요. 취준의 힘듦을 덜어주고자 이런 서비스를 만들어 봤습니다. 저희 서비스의 아쉬운 점이나 불편한 점이 있다면, 아래의 버튼을 클릭하여 피드백을 남겨주세요.</h5>
        <a href="http://nodoubt.site/feedback/" target="_blank"><button id="end_ment_btn">피드백 제출하러 가기</button></a>
    </div>
</div>