<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6478f529f2.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <style type="text/css">
      @import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
    </style>
  </head>
  <body>
    <div id="body_div" style="padding-top:20px;background-color:rgba(130, 168, 212, 0.1);width:600px;margin:0 auto;">
      <p id="company_name" style="font-size:55px;text-align:center;font-family:'Monoton', cursive;"><a href="http://nodoubt.site/" target="_blank" style="text-decoration:none;color:black;">NODOUBT</a></p>
      <div class="oneline_notify" style="padding:0px 0px 32px 0px;border-top:1px solid black;border-bottom:1px solid black;color:black;">
        <div class="notify">
          <h2 style="padding-top:20px;color:black;">📢  알려드립니다!</h2>
          <h3 style="padding-left:30px;color:black;font-weight:400;color:black;">
            <i class="far fa-dot-circle fa-sm"></i> 선배들의 자소서 내의 스펙, 활동 등의 정보를 우선 제공합니다</h3>
          <h3 style="padding-left:30px;color:black;font-weight:400;color:black;">
            <i class="far fa-dot-circle fa-sm"></i> 해당 자소서의 핵심 POINT를 요약하여 제공합니다</h3>
        </div>
      </div>
      <!---->
      <div class="sample_title" style="padding:0px 50px;padding-top:12px;color:black;">
        <h3 id="sample_title_first" style="opacity:.7;color:black;">더 좋은 삶의 터전을 창조하는 회사</h3>
        <h2 id="sample_title_second" style="color:orange;">대림건설</h2>
        <h4 id="sample_title_third" style="opacity:.7;color:black;text-align:center;padding-top:20px;padding-bottom:4px;">취뽀 선배의 스펙</h4>
      </div>
      <div class="sample" style="padding-bottom:40px;color:black;">
        <div class="sample_content" style="border:1px solid orange;width:440px;background-color:white;padding:30px;margin:0 auto;color:black;">
          <div class="sample_content_private" style="padding-bottom:15px;">
            <h2>개인정보</h2>
            <div class="sample_content_private_content" style="padding-left:20px;">
              <p>동국대학교 경영학부</p>
              <p>회사 / 직무: 대림건설 / 도시정비사업팀</p>
              <p>취업 연도: 2021년 상반기</p>
              <p>학점 : 3.34점</p>
            </div>
          </div>
          <div class="sample_content_language" style="padding-bottom:15px;">
            <h2>어학능력</h2>
            <div class="sample_content_language_content" style="padding-left:20px;">
              <p>토익 875점</p>
              <p>토익 스피킹 Level 6</p>
            </div>
          </div>
          <div class="sample_content_certificate" style="padding-bottom:15px;">
            <h2>자격증</h2>
            <div class="sample_content_certificate_content" style="padding-left:20px;">
              <p>공인 중개사 자격증</p>
              <p>ERP 정보관리사인사 1급</p>
              <p>운전면허 1종 대형</p>
            </div>
          </div>
          <div class="sample_content_activity_in" style="padding-bottom:15px;">
            <h2>교내활동</h2>
            <div class="sample_content_activity_in_content" style="padding-left:20px;">
              <p>학생회 1년</p>
            </div>
          </div>
          <div class="sample_content_activity_out" style="padding-bottom:15px;">
            <h2>대외활동</h2>
            <div class="sample_content_activity_out_content" style="padding-left:20px;">
              <p>없음</p>
            </div>
          </div>
          <div class="sample_content_career">
            <h2>경력사항</h2>
            <div class="sample_content_career_content" style="padding-left:20px;">
              <p>GS25 편의점 / 매장운영 / 2년</p>
              <p>세븐일레븐 편의점 / 매장운영 / 2년</p>
            </div>
          </div>
        </div>
      </div>
      <div class="summary" style="padding-bottom:20px;color:black;">
        <div class="summary_title">
          <h1 style="color:orange;">취뿌&nbsp;POINT!!</h1>
        </div>
        <div class="summary_content">
          <div class="summary_content_question" style="padding-bottom:20px;">
            <h2>🤔 자신의 경험을 전략적으로 제시하기!</h2>
            <p style="padding:4px 20px;">위 선배는 문제를 해결한 경험을 물어보는 질문에 자신의 경험을 바탕으로 전략적인 답변을 작성했다고 합니다. 단순히 문제를 해결한 경험을 제시하는 것 보다, 문제 해결 과정을 전략적으로 제시했어요! 전략적인 답변은 자신의 문제해결 능력을 더 돋보이게 할 수 있는데요. 선배의 자소서 일부를 보면서 알아볼까요?</p>
          </div>
          <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;취뿌 선배의 자소서 중...</h2>
          <div class="summary_content_exp" style="width:480px;margin:0 auto;background-color:white;padding-bottom:20px;">
            <h3>Q: 기존의 관행에서 벗어나, 창의적인 대안으로 문제를 해결한 경험을 서술해 주십시오.</h3>
            <div class="summary_content_exp_sample" style="padding:0px 20px;">
              <p style="padding:4px 0px;">[전략을 통한 매출향상]</p>
              <p style="padding:4px 0px;"> 처음 발주업무를 했을 당시, 저는 매장이 <strong style="color: orange;">대학상권에 속한다는 이유만으로 SNS에서 유행하는 제품이나, 수입제품들을 위주로 주문했었습니다.</strong>
                그러나 저의 예상과는 다르게, 해당 제품들의 판매 속도는 새우깡과 같은 기본상품들보다도 느렸습니다. <strong style="color: orange;">저는 문제의 원인을 파악하기 위해 손님들을 관찰했고, 손님들이 낯선 제품 구매를 꺼린다는 것을 알게 되었습니다.</strong>
                ······ 저는 <strong style="color: orange;">한정판매 전략</strong>으로 문제를 해결할 수 있다고 생각했습니다. 그 이유는 한정 판매라는 문구가 고객의 관심을 끌어낼 수 있으며, 판매수량에 제한을 두어 긴박한 소비를 부추길 것이라고 생각했기 때문입니다.
                            시행 결과, <strong style="color: orange;">2주 만에 제품회전율을 4배 이상 증가</strong>시켰습니다.
                        </p>
            </div>
          </div>
          <div class="summary_content_answer" style="padding-bottom:20px;">
            <h2 style="opacity:.5;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;요약 및 정리</h2>
            <p style="padding:0px 20px;">1. 문제를 해결한 경험을 <strong>전략적으로 제시하여 문제해결 능력을 강조하기!</strong></p>
            <p style="padding:0px 20px;">2. 문제 인식, 원인 파악, 해결 방법, 개선 결과를 <strong>단게별로 작성하기!</strong></p>
          </div>
        </div>
      </div>
      <!-- break -->
      <div class="end_ment" style="color:black;padding:0px 40px 30px 40px;text-align:center;">
        <h5>NODOUBT 팀도 같은 취준생으로써 많은 불편함과 힘듦을 느끼고 있어요.<br>
          취준의 힘듦을 덜어주고자 이런 서비스를 만들어 봤습니다.저희 서비스의<br>
          아쉬운 점이나 불편한 점이 있다면, 아래의 버튼을 클릭하여 피드백을 남겨주세요.<br>
          피드백을 제공해주시면 다음 신청서 제출 시, NODOUBT의 유형별 자료를 받아보실 수 있습니다.</h5>
        <br>
        <a href="http://nodoubt.site/feedback/" target="_blank" style="text-decoration:none;color:black;"><button id="btn" style="width:200px;height:40px;background-color:orange;border-radius:10px;">피드백 제출하러 가기</button></a>
      </div>
    </div>
  </body>
</html>