<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6478f529f2.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <style type="text/css">
      @import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
    </style>
  </head>
  <body>
    <div id="body_div" style="padding-top:20px;background-color:rgba(130, 168, 212, 0.1);width:600px;margin:0 auto;">
      <p id="company_name" style="font-size:55px;text-align:center;font-family:'Monoton', cursive;"><a href="http://nodoubt.site/" target="_blank" style="text-decoration:none;color:black;">NODOUBT</a></p>
      <div class="oneline_notify" style="padding:0px 0px 32px 0px;border-top:1px solid black;border-bottom:1px solid black;color:black;">
        <div class="notify">
          <h2 style="padding-top:20px;color:black;">📢  알려드립니다!</h2>
          <h3 style="padding-left:30px;color:black;font-weight:400;color:black;">
            <i class="far fa-dot-circle fa-sm"></i> 선배들의 자소서 내의 스펙, 활동 등의 정보를 우선 제공합니다</h3>
          <h3 style="padding-left:30px;color:black;font-weight:400;color:black;">
            <i class="far fa-dot-circle fa-sm"></i> 해당 자소서의 핵심 POINT를 요약하여 제공합니다</h3>
        </div>
      </div>
      <!---->
      <div class="sample_title" style="padding:0px 50px;padding-top:12px;color:black;">
        <h3 id="sample_title_first" style="opacity:.7;color:black;">테크 기반 뷰티 이커머스 전문 기업</h3>
        <h2 id="sample_title_second" style="color:orange;">익스플즌</h2>
        <h4 id="sample_title_third" style="opacity:.7;color:black;text-align:center;padding-top:20px;padding-bottom:4px;">취뽀 선배의 스펙</h4>
      </div>
      <div class="sample" style="padding-bottom:40px;color:black;">
        <div class="sample_content" style="border:1px solid orange;width:440px;background-color:white;padding:30px;margin:0 auto;color:black;">
          <div class="sample_content_private" style="padding-bottom:15px;">
            <h2>개인정보</h2>
            <div class="sample_content_private_content" style="padding-left:20px;">
              <p>동국대학교 경영학부</p>
              <p>회사 / 직무: 익스플즌 / 인사 총무</p>
              <!-- <p>취업 연도: 2020년 상반기</p> -->
              <p>학점 : 비공개</p>
            </div>
          </div>
          <div class="sample_content_language" style="padding-bottom:15px;">
            <h2>어학능력</h2>
            <div class="sample_content_language_content" style="padding-left:20px;">
              <p>토익 860점</p>
              <p>토익스피킹 Level 7</p>
            </div>
          </div>
          <div class="sample_content_certificate" style="padding-bottom:15px;">
            <h2>자격증</h2>
            <div class="sample_content_certificate_content" style="padding-left:20px;">
              <p>없음</p>
            </div>
          </div>
          <div class="sample_content_activity_in" style="padding-bottom:15px;">
            <h2>교내활동</h2>
            <div class="sample_content_activity_in_content" style="padding-left:20px;">
              <p>회계학과 조교 1년 6개월</p>
              <p>학생회 1년</p>
              <p>Enactus DGU 동아리 1년</p>
            </div>
          </div>
          <div class="sample_content_activity_out" style="padding-bottom:15px;">
            <h2>대외활동</h2>
            <div class="sample_content_activity_out_content" style="padding-left:20px;">
              <p>기아자동차 대외활동 6개월</p>
              <p>SK 행복나눔재단 대외활동 5개월</p>
              <p>파나소닉 홍보대사 6개월</p>
            </div>
          </div>
          <div class="sample_content_career">
            <h2>경력사항</h2>
            <div class="sample_content_career_content" style="padding-left:20px;">
              <p>없음</p>
            </div>
          </div>
        </div>
      </div>
      <!-- break -->
      <div class="end_ment" style="color:black;padding:0px 40px 30px 40px;text-align:center;">
        <h5>NODOUBT 팀도 같은 취준생으로써 많은 불편함과 힘듦을 느끼고 있어요.<br>
          취준의 힘듦을 덜어주고자 이런 서비스를 만들어 봤습니다.저희 서비스의<br>
          아쉬운 점이나 불편한 점이 있다면, 아래의 버튼을 클릭하여 피드백을 남겨주세요.<br>
          피드백을 제공해주시면 다음 신청서 제출 시, NODOUBT의 유형별 자료를 받아보실 수 있습니다.</h5>
        <br>
        <a href="http://nodoubt.site/feedback/" target="_blank" style="text-decoration:none;color:black;"><button id="btn" style="width:200px;height:40px;background-color:orange;border-radius:10px;">피드백 제출하러 가기</button></a>
      </div>
    </div>
  </body>
</html>