<div id="body_div">
    <p id="company_name"><a href="http://nodoubt.site/" target="_blank">NODOUBT</a></p>
    <div class="oneline_notify">
        <div class="notify">
            <h2>&#128226; 알려드립니다!</h2>
            <h3><i class="far fa-dot-circle fa-sm"></i> 선배들의 자소서 내의 스펙, 활동 등의 정보를 우선 제공합니다</h3>
            <h3><i class="far fa-dot-circle fa-sm"></i> 해당 자소서의 핵심 POINT를 요약하여 제공합니다</h3>   
        </div>
    </div>
    <!-- break -->
    <div class="sample_title">
        <h3 id="sample_title_first">대한민국을 대표하는 금융기업</h3>
        <h2 id="sample_title_second">신한자산운용</h2>
    </div>
    <div class="sample">
        <div class="sample_content">
            <h4 id="sample_content_title">취뽀 선배의 스펙</h4>
            <div class="sample_content_private">
                <h2>개인정보</h2>
                <div class="sample_content_private_content">
                    <p>학력: 동국대학교 경영학부</p>
                    <p>회사: 신한자산운용</p>
                    <p>직무: 펀드솔루션 운용</p>
                    <p>취업 연도: 2021년 상반기</p>
                    <p>학점: 3.7</p>
                </div>
            </div>
            <div class="sample_content_language">
                <h2>어학능력</h2>
                <div class="sample_content_language_content">
                    <p>토익스피킹 Level 6</p>
                </div>
            </div>
            <div class="sample_content_certificate">
                <h2>자격증</h2>
                <div class="sample_content_certificate_content">
                    <p>투자자산운용사</p>
                    <p>컴퓨터활용능력 1급</p>
                </div>
            </div>
            <div class="sample_content_activity_in">
                <h2>교내활동</h2>
                <div class="sample_content_activity_in_content">
                    <p>없음</p>
                </div>
            </div>
            <div class="sample_content_activity_out">
                <h2>대외활동</h2>
                <div class="sample_content_activity_out_content">
                    <p>한국수자원공사 공모전 최우수상</p>
                    <p>올바른 투자법 및 재무제표 분석법에 대한 책 집필</p>
                </div>
            </div>
            <div class="sample_content_career">
                <h2>경력사항</h2>
                <div class="sample_content_career_content">
                    <p>한국생산성본부 / 인턴 / 6개월</p>
                    <p>리치와이즈 / 프리랜서 / 6개월</p>
                    <p>원앤원북스 / 작가 / 5개월</p>
                </div>
            </div>
        </div>
    </div>
    <div class="summary">
        <div class="summary_title">
            <h1>취뿌 POINT!!</h1>
        </div>
        <div class="summary_content">
            <div class="summary_content_question">
                <h2>&#129300; 지원동기는 기업에 대한 관심과 애정을 담아서!</h2>
                <p>위 선배님은 기업 입장에서 바라보면, 지원동기를 통해 능력도 갖추고 기업에 대한 관심과 애정이 많은 지원자를 찾아내는 것이 당연하다고 하셨어요. 따라서 선배님의 조언대로, 지원동기를 작성할 때 자신이 이 회사에 지원한 이유와 함께 자신의 역량과 회사에 얼마나 관심이 있는지 표현하는 것이 중요합니다. 그럼, 선배님의 자소서를 예시로 살펴볼까요?</p>
            </div>
            <div class="summary_content_exp">
                <h2>취뿌 선배의 자소서 중...</h2>
                <h3>Q: 지원동기</h3>
                <div class="summary_content_exp_sample">
                    <p>[간접투자와 직접투자, 모두를 배울 수 있는 최고의 팀]</p>
                    <p>신한자산운용의 펀드솔루션팀에 지원한 이유는 <strong>저의 역량을 성장시키고, 그것이 다시 팀에게 도움이 되는 선순환이 일어날 수 있는 최고의 환경을 가진 곳이라고 생각하기 때문입니다.</strong> 저는 20살 때부터 '어떻게 하면 안정적으로 고객에게 평온한 노후를 제공할 수 있을까?'에 대한 고민을 하면서 <strong>매일 글로벌 시장에 대한 기사와 투자 서적을 읽고, 직접 주식 투자를 해가며 저의 운용 프로세스를 피드백 해왔습니다.</strong> ······ 따라서 저는 성장성은 명확하지만 아직 시장 강자를 예측하기 힘든 산업은 펀드를 통해 간접투자하고, 충분한 이해가 바탕이 되어 있으면서 저평가되어 있는 기업이 있다고 생각하는 산업에는 직접투자를 병행하며 자산 운용을 하고 있습니다.</p>
                    <p><strong>당사의 펀드솔루션팀은 간접투자뿐 아니라 최근 직접투자로까지 투자 영역을 확대하고 있습니다. </strong>이는 타 운용사가 확실한 강점이 있는 상품은 간접투자를 통해 위탁 운용하여 안정성과 윤리성을 높이고, 자사의 검증된 투자 철칙과 로직을 통해 발굴한 종목은 직접 운용함으로써 투자 성과를 극대화할 수 있는 전략이라고 생각합니다. 이처럼 <strong>당사의 펀드솔루션 팀은 제가 그동안 투자를 하면서 느꼈던 투자 철칙과 같은 선상에 있는 투자를 한다는 점</strong>에서 제가 업무에 몰두하기에 최적의 환경입니다. 이러한 환경은 저의 역량을 빠르게 성장하게 하고, 이는 곧 팀에게 긍정적 결과를 안겨줄 수 있는 팀원으로 성장할 수 있도록 만들어줄 것이라 확신하여 지원하였습니다.</p>
                </div>
            </div>
            <div class="summary_content_answer">
                <h2>&#129299; 요약 및 정리</h2>
                <p>1. <strong>자신의 능력을 바탕으로 지원동기를 강조하기!</strong></p>
                <p>2. 기업의 사업 방향이나 정보를 통해 <strong>기업에 대한 관심을 표현하기!</strong></p>
            </div>
        </div>
    </div>
    <!-- break -->
    <div class="end_ment">
        <h5>NODOUBT 팀도 같은 취준생으로써 많은 불편함과 힘듦을 느끼고 있어요. 취준의 힘듦을 덜어주고자 이런 서비스를 만들어 봤습니다. 저희 서비스의 아쉬운 점이나 불편한 점이 있다면, 아래의 버튼을 클릭하여 피드백을 남겨주세요.</h5>
        <a href="http://nodoubt.site/feedback/" target="_blank"><button id="end_ment_btn">피드백 제출하러 가기</button></a>
    </div>
</div>