<div id="body_div">
  <p id="company_name"><a href="http://nodoubt.site/" target="_blank">NODOUBT</a></p>
  <div class="oneline_notify">
      <div class="notify">
          <h2>&#128226; 알려드립니다!</h2>
          <h3><i class="far fa-dot-circle fa-sm"></i> 선배들의 자소서 내의 스펙, 활동 등의 정보를 우선 제공합니다</h3>
          <h3><i class="far fa-dot-circle fa-sm"></i> 해당 자소서의 핵심 POINT를 요약하여 제공합니다</h3>   
      </div>
  </div>
  <!-- break -->
  <div class="sample_title">
      <h3 id="sample_title_first">생활을 풍요롭고 편리하게 하는 기업</h3>
      <h2 id="sample_title_second">삼양사</h2>
  </div>
  <div class="sample">
      <div class="sample_content">
          <h4 id="sample_content_title">취뽀 선배의 스펙</h4>
          <div class="sample_content_private">
              <h2>개인정보</h2>
              <div class="sample_content_private_content">
                  <p>학력: 동국대학교 경영학부</p>
                  <p>회사: 삼양사</p>
                  <p>직무: 영업</p>
                  <p>취업 연도: 비공개</p>
                  <p>학점: 비공개</p>
              </div>
          </div>
          <div class="sample_content_language">
              <h2>어학능력</h2>
              <div class="sample_content_language_content">
                  <p>토익 975점</p>
                  <p>오픽 AL Level</p>
                  <p>토스 Level 8</p>
              </div>
          </div>
          <div class="sample_content_certificate">
              <h2>자격증</h2>
              <div class="sample_content_certificate_content">
                  <p>없음</p>
              </div>
          </div>
          <div class="sample_content_activity_in">
              <h2>교내활동</h2>
              <div class="sample_content_activity_in_content">
                  <p>학생회 1년</p>
              </div>
          </div>
          <div class="sample_content_activity_out">
              <h2>대외활동</h2>
              <div class="sample_content_activity_out_content">
                  <p>호주 워킹홀리데이 1년</p>
              </div>
          </div>
          <div class="sample_content_career">
              <h2>경력사항</h2>
              <div class="sample_content_career_content">
                  <p>KCC / 인턴 / 4개월</p>
                  <p>호주 Kobalt ENC / 인턴 / 4개월</p>
              </div>
          </div>
      </div>
  </div>
  <div class="summary">
      <div class="summary_title">
          <h1>취뿌 POINT!!</h1>
      </div>
      <div class="summary_content">
          <div class="summary_content_question">
              <h2>&#129300; 지원 기업의 사업 동향을 조사하기!</h2>
              <p>선배님은 지원한 기업의 사업 동향을 미리 조사하면, 지원 기업에 관심이 많고 적합한 인재라고 생각할 가능성이 높다고 하셨어요. 당연히 조사한 내용을 자연스럽게 녹여내는 것이 중요한데요. 목표와 비전에 대한 질문은 이러한 내용을 잘 드러내기 좋은 질문입니다. 그럼, 선배의 자소서 일부를 보면서 알아볼까요?</p>
          </div>
          <div class="summary_content_exp">
              <h2>취뿌 선배의 자소서 중...</h2>
              <h3>Q: 입사 후 10년 내 이루고자 하는 목표(비전)와 이를 달성하기 위한 계획 2가지를 기재해 주십시오.</h3>
              <div class="summary_content_exp_sample">
                  <p>"글로벌 시장의 영업사원"</p>
                  <p>저는 10년 이내에 수출 판매액을 전체 매출액의 1/3까지 끌어올리겠습니다. 현재 <strong>시장의 규모로 보나 트렌드로 보나 중국시장</strong>으로의 진출은 선택이 아닌 필수입니다. 따라서 <strong>성장하고 있는 삼양 그룹의 스페셜티 제품</strong>들에 대한 전략과 동남아시장의 패키징 거래처를 확대하겠습니다.</p>
                  <p>첫째로, 현재는 <strong>스페셜티 제품의 매출 비중이 3%</strong>밖에 안되지만, 삼양 그룹에서 적극적인 투자를 하는 만큼 큰 성장세를 보이도록 하겠습니다. 현재도 <strong>매출의 절반 가까이 차지하고 있는 설탕, 밀가루,전분 등의 부분을 중심</strong>으로 하면서, 소스나 냉동생지 같은 반제품 분야에서도 영역을 넓혀 글로벌 시장을 공략하겠습니다. ······ </p>
              </div>
          </div>
          <div class="summary_content_answer">
              <h2>&#129299; 요약 및 정리</h2>
              <p>1. 비전과 계획을 제시하면서 <strong>자연스럽게 사업에 대한 이해도를 강조하기!</strong></p>
          </div>
      </div>
  </div>
  <!-- break -->
  <div class="end_ment">
      <h5>NODOUBT 팀도 같은 취준생으로써 많은 불편함과 힘듦을 느끼고 있어요. 취준의 힘듦을 덜어주고자 이런 서비스를 만들어 봤습니다. 저희 서비스의 아쉬운 점이나 불편한 점이 있다면, 아래의 버튼을 클릭하여 피드백을 남겨주세요.</h5>
      <a href="http://nodoubt.site/feedback/" target="_blank"><button id="end_ment_btn">피드백 제출하러 가기</button></a>
  </div>
</div>
