{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="body_div">
    <p id="company_name"><a href="http://nodoubt.site/" target="_blank">NODOUBT</a></p>
    <div class="oneline_notify">
        <div class="notify">
            <h2>&#128226; 알려드립니다!</h2>
            <h3><i class="far fa-dot-circle fa-sm"></i> 선배들의 자소서 내의 스펙, 활동 등의 정보를 우선 제공합니다</h3>
            <h3><i class="far fa-dot-circle fa-sm"></i> 해당 자소서의 핵심 POINT를 요약하여 제공합니다</h3>   
        </div>
    </div>
    <!-- break -->
    <div class="sample_title">
        <h3 id="sample_title_first">개인 / 기관에 금융 및 자산 서비스 제공 </h3>
        <h2 id="sample_title_second">KB자산운용</h2>
    </div>
    <div class="sample">
        <div class="sample_content">
            <h4 id="sample_content_title">취뽀 선배의 스펙</h4>
            <div class="sample_content_private">
                <h2>개인정보</h2>
                <div class="sample_content_private_content">
                    <p>학력: 동국대학교 경영학부</p>
                    <p>회사: KB자산운용</p>
                    <p>직무: 리서치</p>
                    <p>취업 연도: 2021년 하반기</p>
                    <p>학점: 3.7</p>
                </div>
            </div>
            <div class="sample_content_language">
                <h2>어학능력</h2>
                <div class="sample_content_language_content">
                    <p>토익스피킹 Level 6</p>
                </div>
            </div>
            <div class="sample_content_certificate">
                <h2>자격증</h2>
                <div class="sample_content_certificate_content">
                    <p>투자자산운용사</p>
                    <p>컴퓨터활용능력 1급</p>
                </div>
            </div>
            <div class="sample_content_activity_in">
                <h2>교내활동</h2>
                <div class="sample_content_activity_in_content">
                    <p>없음</p>
                </div>
            </div>
            <div class="sample_content_activity_out">
                <h2>대외활동</h2>
                <div class="sample_content_activity_out_content">
                    <p>한국수자원공사 공모전 최우수상</p>
                    <p>올바른 투자법 및 재무제표 분석법에 대한 책 집필</p>
                </div>
            </div>
            <div class="sample_content_career">
                <h2>경력사항</h2>
                <div class="sample_content_career_content">
                    <p>한국생산성본부 / 인턴 / 6개월</p>
                    <p>리치와이즈 / 프리랜서 / 6개월</p>
                    <p>원앤원북스 / 작가 / 5개월</p>
                </div>
            </div>
        </div>
    </div>
    <div class="summary">
        <div class="summary_title">
            <h1>취뿌 POINT!!</h1>
        </div>
        <div class="summary_content">
            <div class="summary_content_question">
                <h2>&#129300; 장점을 자신감 있게 어필하면서 자소서에 일치시키기!</h2>
                <p>우리 자소서에 언어 능력, OA 활용 능력 체크 부분을 "잘한다"로 표시하는 것은 조심스럽죠? 하지만 자신이 경험이 있고 실무경험도 뒷받침된다면 과감히 "잘한다"라고 표시하면 강점이 될 거에요. 위 선배는 오피스, PPT, 한글, 엑셀과 같은 기초 실무 능력에 모두 "상"을 표시하면서 기초 실무 능력을 강조했어요. 그러면서 "경험 및 경력 사항"에 자신이 OA 활용능력을 어떻게 공부하고 활용해왔는지 그 근거를 설명하였고요. 위 선배의 자소서를 통해 자격사항, 특기 및 능력사항을 어떻게 공부했고 활용해왔는지 자소서에서 녹여내는 것도 좋은 전략인 것을 알 수 있습니다.</p>
            </div>
            <div class="summary_content_exp">
                <h2>취뿌 선배의 자소서 중...</h2>
                <h3>Q: 경험 및 경력 사항</h3>
                <div class="summary_content_exp_sample">
                    <p>··· 또한, 저는 한국생산성본부 디지털컨설팅센터에서 6개월간 인턴으로 근무하면서 <strong>다양한 산업의 리서치 경험</strong>이 있습니다.··· 이 과정에서 저는 해당 산업(관광, AR/VR, 에코디자인, 콘텐츠 산업)의 현황과 정부 정책, 앞으로의 성장성과 기업들의 애로 사항 등을 중심으로 산업 리서치 업무를 담당하였습니다. <strong>리서치한 데이터들은 PPT와 Word, HWP 프로그램을 활용하여 RFP를 작성을 보조</strong>하였습니다.··· 이러한 경험은 조직 생활에 대한 이해와 산업 분석 역량뿐 아니라 <strong>수주사 및 고객사와의 커뮤니케이션 역량, Excel, PPT, Word, HWP 등 다양한 OA 프로그램의 활용 능력</strong> 또한 얻을 수 있게 되었습니다. </p>
                    <p>고객에게 안정적이고 중수익을 낼 수 있는 펀드를 제공하기 위해선, '좋은 전략'이 우선하여 확립되어 있어야 합니다. <strong>저는 20살 때부터 직접 주식 투자를 하고, 저의 투자를 피드백해 나가면서 '좋은 투자 전략'에 대해 지속해서 고민해 나갔습니다. 이러한 저의 고민과 그 과정에서 느낀 점은 칼럼을 통해 많은 사람에게 전달하였고, 이를 본 경제/금융 전문 출판사의 출간 제의를 받아 '올바른 투자법'에 대한 책을 출간하기도 하였습니다.</strong></p>
                    <p>하지만 개인 투자와 운용사의 투자에는 큰 차이가 있습니다. 따라서 입사 후에는 선배님들의 업무를 보조하며, 우선하여 회사의 투자 스탠스와 방법론을 빠르게 스터디해나갈 것입니다. <strong>지금까지 쌓아온 저의 투자 경험은 이를 좀 더 신속하고, 정확하게 보조할 수 있게 해줄 것으로 생각합니다.</strong></p>
                </div>
            </div>
            <div class="summary_content_answer">
                <h2>&#129299; 요약 및 정리</h2>
                <p>1. 본인의 <strong>스펙, 강점은 자신감있게</strong> 표현하기</p>
                <p>2. 자신이 어필하고 싶은 강점, 실무 능력을 <strong>스토리와 함께 녹여내기!</strong></p>
            </div>
        </div>
    </div>
    <!-- break -->
    <div class="end_ment">
        <h5>NODOUBT 팀도 같은 취준생으로써 많은 불편함과 힘듦을 느끼고 있어요. 취준의 힘듦을 덜어주고자 이런 서비스를 만들어 봤습니다. 저희 서비스의 아쉬운 점이나 불편한 점이 있다면, 아래의 버튼을 클릭하여 피드백을 남겨주세요.</h5>
        <a href="http://nodoubt.site/feedback/" target="_blank"><button id="end_ment_btn">피드백 제출하러 가기</button></a>
    </div>
</div>
{% endblock %}