<div id="body_div">
  <p id="company_name"><a href="http://nodoubt.site/" target="_blank">NODOUBT</a></p>
  <div class="oneline_notify">
      <div class="notify">
          <h2>&#128226; 알려드립니다!</h2>
          <h3><i class="far fa-dot-circle fa-sm"></i> 선배들의 자소서 내의 스펙, 활동 등의 정보를 우선 제공합니다</h3>
          <h3><i class="far fa-dot-circle fa-sm"></i> 해당 자소서의 핵심 POINT를 요약하여 제공합니다</h3>   
      </div>
  </div>
  <!-- break -->
  <div class="sample_title">
      <h3 id="sample_title_first">2021 아세안 지역 올해의 자산운용사</h3>
      <h2 id="sample_title_second">이스트스프링자산운용</h2>
  </div>
  <div class="sample">
      <div class="sample_content">
          <h4 id="sample_content_title">취뽀 선배의 스펙</h4>
          <div class="sample_content_private">
              <h2>개인정보</h2>
              <div class="sample_content_private_content">
                  <p>학력: 동국대학교 경영학부</p>
                  <p>회사: 이스트스프링 자산운용</p>
                  <p>직무: 재무팀</p>
                  <p>취업 연도: 비공개</p>
                  <p>학점: 3.7</p>
              </div>
          </div>
          <div class="sample_content_language">
              <h2>어학능력</h2>
              <div class="sample_content_language_content">
                  <p>토익 스피킹 Level 7</p>
              </div>
          </div>
          <div class="sample_content_certificate">
              <h2>자격증</h2>
              <div class="sample_content_certificate_content">
                  <p>투자자산운용사</p>
              </div>
          </div>
          <div class="sample_content_activity_in">
              <h2>교내활동</h2>
              <div class="sample_content_activity_in_content">
                  <p>학생회 1년</p>
                  <p>학과 교수 교육조교 1년</p>
              </div>
          </div>
          <div class="sample_content_activity_out">
              <h2>대외활동</h2>
              <div class="sample_content_activity_out_content">
                  <p>글로벌 ETF 투자대회 참가</p>
                  <p>코딩 교육 이수</p>
              </div>
          </div>
          <div class="sample_content_career">
              <h2>경력사항</h2>
              <div class="sample_content_career_content">
                  <p>금융 기업 인턴</p>
              </div>
          </div>
      </div>
  </div>
  <div class="summary">
      <div class="summary_title">
          <h1>취뿌 POINT!!</h1>
      </div>
      <div class="summary_content">
          <div class="summary_content_question">
              <h2>&#129300; 솔직하게 나의 경험과 직무역량을 작성하기!</h2>
              <p>위 선배는 자신의 스펙과 직무역량을 회사의 특징에 맞춰 작성하려고 노력했다고 합니다. 자신의 역량 관련 경험을 작성할 때 경험의 계기, 이유를 함께 작성했어요! 그리고 스펙과 개인 역량을 강조할 땐 억지로 채우기 위한 과장과 거짓말은 면접 중에 쉽게 들통나고 자신을 어필할 때 한계가 있기 때문에 주의해야 한다고 알려줬어요.</p>
          </div>
          <div class="summary_content_exp">
              <h2>취뿌 선배의 자소서 중...</h2>
              <h3>Q: 직무 역량</h3>
              <div class="summary_content_exp_sample">
                  <strong>전체 운용 본부의 거래를 모니터링</strong>하면서 투자자산과 펀드 비즈니스에 대한 이해를 넓혔습니다. 인턴 기간 동안 주식·채권과 같은 기초 자산부터 이를 바탕으로 한 옵션·선물과 같은 파생상품이 어떤 성격을 가지고 있는지 알 수 있었습니다.······ <strong>온라인과 오프라인 금융 강의를 수강</strong>하면서 <strong>투자 상품의 특징 파악, 알파 창출을 위한</strong> 전략 설계, 엑셀과 파이썬을 통해 구현하는 <strong>단계별 투자 전략에 필요한 역량을 개발</strong>했습니다. 투자 이외에도 시장 수요에 맞춰 특별한 구조의 상품을 만들고 기존에 없던 상품을 출시하여 수익을 창출할 수 있다는 것을 배웠습니다. 그리고 이런 <strong>아이디어를 구현하는데 밑바탕이 되는 데이터 수집과 전처리를 위해 SQL(PorstgreSQL), Excel, Python을 공부</strong>해왔습니다.
              </div>
          </div>
          <div class="summary_content_answer">
              <h2>&#129299; 요약 및 정리</h2>
              <p>1. <strong>본인의 스펙 및 자소서 내용을 직무와 회사의 특징에 맞춰서 작성하기!</strong></p>
              <p>2. <strong>공부하거나 배운 내용을 구체적으로 이유와 함께 작성하기!</strong></p>
          </div>
      </div>
  </div>
  <!-- break -->
  <div class="end_ment">
      <h5>NODOUBT 팀도 같은 취준생으로써 많은 불편함과 힘듦을 느끼고 있어요. 취준의 힘듦을 덜어주고자 이런 서비스를 만들어 봤습니다. 저희 서비스의 아쉬운 점이나 불편한 점이 있다면, 아래의 버튼을 클릭하여 피드백을 남겨주세요.</h5>
      <a href="http://nodoubt.site/feedback/" target="_blank"><button id="end_ment_btn">피드백 제출하러 가기</button></a>
  </div>
</div>