<div id="body_div">
  <p id="company_name"><a href="http://nodoubt.site/" target="_blank">NODOUBT</a></p>
  <div class="oneline_notify">
      <div class="notify">
          <h2>&#128226; 알려드립니다!</h2>
          <h3><i class="far fa-dot-circle fa-sm"></i> 선배들의 자소서 내의 스펙, 활동 등의 정보를 우선 제공합니다</h3>
          <h3><i class="far fa-dot-circle fa-sm"></i> 해당 자소서의 핵심 POINT를 요약하여 제공합니다</h3>   
      </div>
  </div>
  <!-- break -->
  <div class="sample_title">
      <h3 id="sample_title_first">최고의 맛을 향한 열정</h3>
      <h2 id="sample_title_second">오뚜기</h2>
  </div>
  <div class="sample">
      <div class="sample_content">
          <h4 id="sample_content_title">취뽀 선배의 스펙</h4>
          <div class="sample_content_private">
              <h2>개인정보</h2>
              <div class="sample_content_private_content">
                  <p>학력: 동국대학교 경영학과, 중어중문학과(복수전공)</p>
                  <p>회사: 오뚜기</p>
                  <p>직무: 해외영업팀</p>
                  <p>취업 연도: ?</p>
                  <p>학점: 3.17</p>
              </div>
          </div>
          <div class="sample_content_language">
              <h2>어학능력</h2>
              <div class="sample_content_language_content">
                  <p>토익 905점</p>
                  <p>오픽 스피킹 Level 6</p>
                  <p>HSK 6급 276점</p>
                  <p>OPIC 중국어 AL Level</p>
                  <p>OPIC 영어 IH Level</p>
              </div>
          </div>
          <div class="sample_content_certificate">
              <h2>자격증</h2>
              <div class="sample_content_certificate_content">
                  <p>컴퓨터활용능력 2급</p>
                  <p>전산회계 2급</p>
                  <p>운전면허 1종 보통</p>
              </div>
          </div>
          <div class="sample_content_activity_in">
              <h2>교내활동</h2>
              <div class="sample_content_activity_in_content">
                  <p>학생회 활동 1년</p>
                  <p>사단법인 숲사랑 소년단 숲캠프 인솔단 및 숲 지킴이 40시간</p>
              </div>
          </div>
          <div class="sample_content_activity_out">
              <h2>대외활동</h2>
              <div class="sample_content_activity_out_content">
                  <p>중국 유학(초, 중학교 졸업) 4년</p>
                  <p>중국 북경대학교 교환학생 6개월</p>
                  <p>미국 어학연수 2개월</p>
              </div>
          </div>
          <div class="sample_content_career">
              <h2>경력사항</h2>
              <div class="sample_content_career_content">
                  <p>(주)인텔리전스 / 한중 중,고등학생 문화교류 프로그램 인솔 / 3개월</p>
                  <p>한국 영화진흥위원회 중국사무소/ 인턴 / 3개월</p>
                  <p>CJ CGV 명동점 영화관 / 아르바이트 / 2년</p>
                  <p>CJ CGV University 국제협력부서/ 아르바이트 / 5개월</p>
              </div>
          </div>
      </div>
  </div>
  <div class="summary">
      <div class="summary_title">
          <h1>취뿌 POINT!!</h1>
      </div>
      <div class="summary_content">
          <div class="summary_content_question">
              <h2>&#129300; 나만 할 수 있는 대답을 하자!</h2>
              <p>위 선배님은 중국 유학과 교환학생을 통해 장기간 중국에서 거주했습니다. 선배님은 유학과 교환학생 경험을 바탕으로 자기소개서의 질문에서 자신만이 할 수 있는 답변을 하려고 노력했어요. 중국시장에 경쟁력이 있는 한국 제품을 조사하여 자소서에 예시를 들며, 시장 진출에 대한 자신만의 의견을 제시했어요. 특히 해외 영업 직무에서는 해당 문화권에 대한 이해를 바탕으로한 시장 진출이 중요하기 때문에 이 부분에 대해 준비하는 것이 좋다고 해요!</p>
          </div>
          <!-- <div class="summary_content_exp">
              <h2>취뿌 선배의 자소서 중...</h2>
              <h3></h3>
              <div class="summary_content_exp_sample">
                  <p></p>
              </div>
          </div> -->
          <div class="summary_content_answer">
              <h2>&#129299; 요약 및 정리</h2>
              <p>1. <strong>자신만이 할 수 있는 답변이 무엇인지 생각해보기!</strong></p>
              <p>2. 해외 영업에 지원하는 경우 다른 나라의 <strong>문화와 사람들에 대해 조사하고 이해하기!</strong></p>
          </div>
      </div>
  </div>
  <!-- break -->
  <div class="end_ment">
      <h5>NODOUBT 팀도 같은 취준생으로써 많은 불편함과 힘듦을 느끼고 있어요. 취준의 힘듦을 덜어주고자 이런 서비스를 만들어 봤습니다. 저희 서비스의 아쉬운 점이나 불편한 점이 있다면, 아래의 버튼을 클릭하여 피드백을 남겨주세요.</h5>
      <a href="http://nodoubt.site/feedback/" target="_blank"><button id="end_ment_btn">피드백 제출하러 가기</button></a>
  </div>
</div>