<div class="menu">
    <div class="menu_form menu_left">
        <div class="dropdown">
            <i class="fas fa-user dropbtn"></i>
            <div class="dropdown-content">
              <a href="#">user.name</a>
              <a href="#">내 컨텐츠</a>
              <a href="#">설정</a>
              <a href="#">커뮤니티</a>
              <a href="#">자소서 쓰기</a>
            </div>
        </div>
        <div class="dropdown">
            <i class="fas fa-folder-plus dropbtn"></i>
            <div class="dropdown-content">
                <p>내 자소서</p>
                <a class=""href="#">내 자소서 1</a>
                <a href="#">내 자소서 2</a>
                <a href="#">내 자소서 3</a>
                <p>내 뉴스</p>
                <a href="#">내 뉴스 1</a>
                <a href="#">내 뉴스 2</a>
                <a href="#">내 뉴스 3</a>
            </div>
        </div>
    </div>
    <div class="menu_form menu_company">
        <a href="{% url 'main:showmain' %}">NODOUBT</a></div>
    <div class="menu_form menu_right">
        <div class="dropdown">
            <i class="fas fa-user dropbtn"></i>
            <div class="dropdown-content">
              <a href="#">user.name</a>
              <a href="#">내 컨텐츠</a>
              <a href="#">설정</a>
              <a href="#">커뮤니티</a>
              <a href="#">자소서 쓰기</a>
            </div>
        </div>
        <div class="dropdown">
            <i class="fas fa-folder-plus dropbtn"></i>
            <div class="dropdown-content">
                <p>내 자소서</p>
                <a class=""href="#">내 자소서 1</a>
                <a href="#">내 자소서 2</a>
                <a href="#">내 자소서 3</a>
                <p>내 뉴스</p>
                <a href="#">내 뉴스 1</a>
                <a href="#">내 뉴스 2</a>
                <a href="#">내 뉴스 3</a>
            </div>
        </div>
    </div>
</div>