@keyframes goLeft{
    0%{
        width: 0%;
        opacity: 0;
    }
    100%{
        width: 92%;
        opacity: 1;
    }
}

@keyframes goOpacityUp{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes goRightandLeft{
    0%{
        margin-left: 0px;
    }
    12%{
        margin-left: 1px;
    }
    25%{
        margin-left: 2px;
    }
    38%{
        margin-left: 3px;
    }
    50%{
        margin-left: 4px;
    }
    62%{
        margin-left: 3px;
    }
    75%{
        margin-left: 2px;
    }
    88%{
        margin-left: 1px;
    }
    100%{
        margin-left: 0px;
    }
}

@keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }