html{
    background-color: rgb(248,248,250);
}
body{
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}
/* menu / navbar */
.menu{
    display: flex;
    border: 1px solid rgb(237,237,237);
    height: 140px;
    justify-content: space-between;
    align-items: center;
    padding: 0% 6%;
}
.menu_company{
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    width: 170px;
}

.menu_content{
    display: flex;
    margin-left: 10%;
}
.menu_content_page{
    font-family: 'Roboto', sans-serif;
    margin: 0 15px;
    width: 44px;
}
.menu_content_page a:hover{
    color: orange;
}
.menu_right{
    width: 170px;
    display: flex;
}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown_left{
    margin-left: 40%;
}
.fa-folder-plus, .fa-user{
    font-size: 20px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 5px 12px;
    border-radius: 10px;
}
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown:hover .dropbtn{
    color: orange;
}


/* 첫번째 칸 - 기업 소개 */
.content_first{
    display: flex;
    justify-content: space-between;
    padding: 0% 6%;
    height: 600px;
    background-color: rgba(130, 168, 212, 0.1);
    border: 1px solid black;
}
.content_first_left{
    width: 50%;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans KR', sans-serif;
}
.content_first_left_exp{
    padding-left: 5%;
    margin-top: 143px;
}
.content_first_left_icon{
    display: flex;
    justify-content: space-between;
    padding: 0% 5%;
    width: 90%;
}
.content_first_left_exp h1{
    animation: Disappearing 5s infinite;
}
.content_first_left_exp h2{
    animation: Appearing 5s infinite;
    color: orange;
}
@keyframes Disappearing{
    0%{
        opacity: 1;
    }
    25%{
        opacity: 0.75;
    }
    50%{
        opacity: 0.5;
    }
    75%{
        opacity: 0.25;
    }
    100%{
        opacity: 0;
    }
}
@keyframes Appearing{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.25;
    }
    50%{
        opacity: 0.5;
    }
    75%{
        opacity: 0.75;
    }
    100%{
        opacity: 1;
    }
}

@keyframes Rotating{
    0%{
        transform: rotate(0turn);
    }
    25%{
        transform: rotate(0.25turn);
    }
    50%{
        transform: rotate(0.5turn);
    }
    75%{
        transform: rotate(0.75turn);
    }
    100%{
        transform: rotate(1turn);
    }
}
.left_icon{
    padding: 20px;
    border-radius: 50%;
}
.content_first_left_icon{
    width: 330px;
}
.content_first_left_icon_content > i{
    margin-top: 10px;
    margin-bottom: 30px;
    animation: Rotating 0.3s infinite;
}
.content_first_left_icon_content > h4{
    margin-top: -20px;
}
.content_first_left_icon_content > h6{
    margin-top: -20px;
    opacity: 0.5;
    font-size: 9px;
}
.content_first_right{
    width: 50%;
}
.content_first_right_paper{
    margin: 10% 10%;
    height: 500px;
    width: 80%;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.content_first_right_paper_image{
    width: 100%;
    height: 100%;
}

/* 두번째 칸 - 인스트럭션 + 지원서 */

.content_second_h2{
    padding-top: 80px;
}

.content_second{
    display: flex;
    padding: 0% 6%;
}
.content_second_left{
    width: 50%;
    height: 484px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_second_left_application{
    padding: 0% 20%;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content_second_left_application > h2{
    margin-top: 37px;
}
.content_second_left_application_submit{
    border: 1px solid black;
    text-align: center;
    padding: 20px 0px;
    border-radius: 10px;
}
.content_second_select{
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}
.content_second_selects{
    width: 30%;
}
.underline{
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
}
.content_second_name, .content_second_email{
    height: 30px;
}
.content_second_private{
    margin: 20px 0px;
}
.content_second_submit{
    margin: 20px 0px;
    border-radius: 50px;
    width: 100px;
    background-color: rgba(130, 168, 212, 0.1);
}
.content_second_left_application_inst{
    text-align: center;
}

.content_second_right{
    width: 50%;
    height: 484px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.content_second_right_instruction{
    height: 100%;
    width: 100%;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
}
.content_second_right_instruction > h2{
    text-align: center;
    margin-top: 37px;
}
.content_second_right_instruction_image{
    box-shadow: 0px 3px 3px rgba(0, 0, 0, .5);
    width: 100%;
    height: 250px;
}
.content_second_right_instruction p{
    font-size: 15px;
    margin-bottom: -10px;
    margin-left: 20px;
    text-align: start;
}

.content_second_search{
    text-align: center;
    margin: 2px;
    width: 30%;
}
.content_second_h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 2%;
}

.content_popular{
    padding: 0% 6%;
    margin: 5% 0%;
}
.content_popular_title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 2%;
}

.content_popular_top{
    display: flex;
}
.content_popular_top_contents{
    border: 1px solid orange;
    padding: 10px;
    margin: 5px;
    width: 25%;
}
.content_popular_bottom{
    display: flex;
}
.content_popular_bottom_contents{
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    width: 25%;
}
.content_issue{
    padding: 0% 6%;
    margin: 5% 0%;
    background-color: rgba(130, 168, 212, 0.1);
}
.content_issue_title{
    padding-top: 80px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 2%;
    text-align: center;
}
.content_issue_category{
    display: flex;
}
.content_issue_category_list h3{
    margin-right: 30px;
    border-bottom: 0px solid blue;
}
.content_issue_category_list h3:hover{
    color: orange;
}
.content_issue_category_list:focus{
    border: 1px solid black;
}
.content_issue_list{
    padding-bottom: 50px;
}
.list_content{
    border-top: 1px solid rgb(146, 140, 140);
    border-bottom: 1px solid rgb(146, 140, 140);
    margin-top: 9px;
    padding: 0px 10px;
}
.list_content_link:hover{
    color: orange;
}

/* 다섯번째 칸 - 취업 준비 자료 */
.content_ready{
    padding: 0% 6%;
}
.content_ready_title{
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 2%;
    text-align: center;
}
.content_ready_content{
    display: flex;
}
.content_ready_content_contents{
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 33%;
}
iframe{
    width: 150px;
    height: 120px;
}

.footer{
    margin-top: 40px;
    text-align: center;
}

/*로그인*/
.login{
    text-align: center;
    background-color: rgba(130, 168, 212, 0.1);
    padding: 60px 0px;
}

.login_signup{
    font-size: 20px;
}
.login_signup_link{
    border: 1px solid black;
    background-color: rgb(233, 230, 230);
    border-radius: 3px;
    padding-top: 3px;
    font-size: 20px;
}
.login_socialaccount{
    text-align: center;
}
.login_socialaccount_or{
    border: 1px dotted black;
}
.login_socialaccount_providers{
    display: flex;
    justify-content: center;
}
.login_socialaccount_providers_list{
    border: 1px solid orange;
    height: 80px;
    width: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 191, 72);
}
.login_socialaccount_providers_list:hover{
    opacity: .7;
}
.secondaryAction{
    border: 1px solid black;
    background-color: rgb(236, 234, 234);
    border-radius: 3px;
    padding: 2px;
}
.login_go_password_clear{
    margin-top: 20px;
}
.fa-google{
    margin: 7px;
}
.fa-google_icon_exp{
    margin-top: -7px;
}
/*로그아웃*/
.logout{
    text-align: center;
    padding: 60px 0px;
    background-color: rgba(130, 168, 212, 0.1);
}
.logout_button{
    padding: 30px;
    font-size: 30px;
    font-weight: 800;
}

/*회원가입*/
.signup{
    text-align: center;
    border: 1px solid black;
    background-color: rgba(130, 168, 212, 0.1);
    padding: 60px 0px;
}
/* .signup_button{
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 3px;
}
.signup_button:hover{
    opacity: 0.7;
} */
.signup_onlygoogle{
    margin: 30px 0px;
}
.signup_login{
    border: 1px solid orange;
    padding: 20px 100px;
    background-color: orange;
    font-size: 30px;
    border-radius: 10px;
}
.signup_login:hover{
    opacity: .7;
}