html{
    background-color: rgb(248,248,250);
}
body{
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}
/* menu / navbar */
.menu{
    display: flex;
    border-bottom: 3px solid black;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 0% 12%;
    margin: 0% 4%;
}
.menu_company{
    font-size: 36px;
    font-family: 'Monoton', sans-serif;
    width: 170px;
}
.menu_content{
    display: flex;
    margin-left: 10%;
    font-size: 20px;
}
.menu_content_page{
    font-family: 'Roboto', sans-serif;
    margin: 0 15px;
}
.menu_content_page a:hover{
    color: orange;
    cursor: pointer;
}
.menu_right{
    width: 170px;
    display: flex;
}
.dropbtn {
    padding: 16px;
    font-size: 16px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown_left{
    margin-left: 40%;
}
.fa-folder-plus, .fa-user{
    font-size: 20px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 5px 12px;
    border-radius: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 4px 8px;
    border-radius: 10px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown:hover .dropbtn{
    color: orange;
}
.dropbtn_color_orange{
    color:orange;
}
.dropdown_display_block{
    display: block;
}
/* 첫번째 칸 - 기업 소개 */
.content_first{
    padding: 4% 12% 2% 12%;
    background-color: rgba(130, 168, 212, 0.1); 
    animation: goOpacityUp 2s ease-in-out;
    font-family: 'Noto Sans KR', sans-serif;
}
.content_first_upper{
    display: flex; 
    justify-content: space-between; 
    padding-bottom: 40px;
}
.content_first_upper_left{
    /* border: 1px solid red; */
}
.content_first_upper_left p{
    font-size: 32px; 
    opacity: .1;
}
.content_first_upper_middle{
    text-align: center;
}
.content_first_upper_middle_top{
    display: flex; 
    justify-content: center; 
    margin-bottom: -44px;
}
.content_first_upper_middle_top h1{
    font-size: 40px;
}
.content_first_upper_middle_top h1:last-child{
    color: orange;
}
.content_first_upper_middle_h1{
    font-size: 40px;
}
.content_first_upper_middle_h3_first{
    margin-bottom: -20px;
    opacity: .6;
}
.content_first_upper_middle_h3_second{
    opacity: .6;
}
.content_first_upper_right{
    /* border: 1px solid blue; */
}
.content_first_upper_right p{
    font-size: 32px;
    opacity: .1;
}
.content_first_lower{
    display: flex; 
    justify-content: space-between; 
    width: 80%; 
    margin: 0 auto;
    padding: 40px;
}
.content_first_lower_content{
    width: 30%; 
    text-align: center;
}
.content_first_lower_content i{
     /* border: 1px solid black; */
}
.content_first_lower_content h3{
    color: orange;
}
.content_first_lower_content h5{
    opacity: .6;
}
/* 두번째 칸 - 인스트럭션 + 지원서 */
.content_second{ 
    padding: 2% 12% 4% 12%; 
    animation: goOpacityUp 2s ease-in-out;
}
.content_second_upper{
    display: flex; 
    border-bottom: 1px solid black
}
.content_second_upper_left{
    margin: 0% 2%; 
    width: 50%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}
.content_second_upper_left h2{
    opacity: .6;
}
.content_second_upper_left h4{
    margin-left: 8%;
}
.content_second_upper_right{
    margin: 0% 2%; 
    width: 50%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.content_second_upper_right img{
    width: 80%; 
    height: 80%; 
    border: 1px solid black; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.content_second_dtime{
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    padding-top: 40px;
}
.content_second_dtime_input_button{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
}
.content_second_dtime_input_button:hover{
    background-color: orange;
}
.black_bg{
    display: none; 
    position: fixed; 
    content: ''; 
    width: 100%; 
    height: 100%; 
    background-color:rgba(0, 0,0, 0.5); 
    top:0; 
    left: 0; 
    z-index: 1;
}
.content_second_left{
    padding: 10px;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_wrap{
    display: none; 
    width: 500px; 
    height: 500px; 
    position: fixed; 
    top:50%; 
    left: 50%; 
    margin: -250px 0 0 -250px; 
    background:#eee; 
    z-index: 2;
}
.modal_close{
    border: 1px solid black; 
    margin-top:-36px; 
    background-color: white; 
    height: 20px; 
    width: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.modal_close a{
    color: red;
}
.modal_close a:hover{
    cursor: pointer;
}
.content_second_left_application{
    padding: 0% 20%;
    height: 100%;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 12px;
}
.content_second_left_application > h2{
    margin-top: 37px;
}
.content_second_left_application_submit{
    border: 1px solid black;
    text-align: center;
    padding: 20px 20px;
    border-radius: 10px;
}
.content_second_select{
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}
.content_second_selects{
    text-align: center;
    width: 80px;
}
.content_second_select_input{
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.content_second_select_input_two{
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 4px; 
    padding-left: 30px;
}
.content_second_select_input_three{
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 4px; 
    padding-left: 15px;
}
.underline{
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
}
.content_second_name, .content_second_school_number, .content_second_email{
    height: 30px;
}
.content_second_private{
    margin: 20px 0px;
}
.content_second_right_instruction_sample{
    text-align: center;
}
.content_second_right_instruction_sample_button{
    margin: 20px 0px;
    border-radius: 50px;
    width: 100px;
    background-color: #82a8d41a;
    padding: 1px;
}
.content_second_submit{
    margin: 20px 0px;
    border-radius: 50px;
    width: 100px;
    background-color: #82a8d41a;
}
.content_second_left_application_inst{
    text-align: center;
}
#content_second_left_application_inst_first{
    color: orange;
}
#content_second_left_application_inst_second{
    margin-top: -16px;
}
#content_second_left_application_inst_third{
    margin-top: -16px;
    border: 1px solid black;
}
#content_second_left_application_submit_signup{
    padding: 0px 10px;
}
.content_second_right{
    width: 50%;
    height: 484px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.content_second_right_instruction{
    height: 100%;
    width: 100%;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
}
.content_second_right_instruction > h2{
    margin-top: 37px;
    text-align: center;
}
.content_second_right_instruction_image{
    box-shadow: 0px 3px 3px rgba(0, 0, 0, .5);
    width: 100%;
    height: 250px;
}
.content_second_right_instruction_content{
    display: flex;
}
.content_second_right_instruction p{
    font-size: 20px;
    text-align: start;
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.fa-circle{
    font-size: 1px;
}
.content_second_search{
    text-align: center;
    margin: 2px;
    width: 30%;
}
.content_second_h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 2%;
}
/**/
.content_popular{
    padding: 0% 12%;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: rgba(130, 168, 212, 0.1);
}
.content_popular_title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 2%;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}
.content_popular_subtitle1{
    font-size: 20px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}
.content_popular_subtitle2{
    font-size: 16px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    width: 50%;
    margin: 0 auto;
}
.content_popular_top{
    text-align: center;
    padding: 20px 0px;
}
.content_popular_top_contents{
    display: inline-block;
    position: relative;
    border: 1px solid black; 
    width: 200px;
    height: 160px;
    padding: 0px 8px;
    margin: 20px 20px;
    border-radius: 10px;
    border: 1px solid gray;
    vertical-align: middle;
    text-align: left;
}
#content_popular_top_contents_company{
    font-size: 24px;
    font-weight: 600;
    margin: 26px 0px 6px 0px;
}
#content_popular_top_contents_job{
    font-size: 20px;
    font-weight: 400;
    margin: 6px 0px;
}
#content_popular_top_contents_year{
    font-size: 16px;
    margin: 6px 0px 0px 0px;
    font-weight: 300;
}
.content_popular_top_contents a{
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 8px;
}
.content_popular_top_contents:hover{
    background-color: orange;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
/**/
.content_issue{
    padding: 0% 16%;
}
.content_issue_title{
    padding-top: 80px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 2%;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}
.content_issue_category{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.content_issue_category_list{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 180px;
}
.content_issue_category_list h3{
    margin: 0px 30px;
}
.content_issue_category_list h3:hover{
    color: orange;
    cursor: pointer;
}
.content_issue_category_list:focus{
    border: 1px solid black;
}
.content_issue_list{
    padding-bottom: 50px;
}
.list_content{
    margin-top: 9px;
    padding: 0px 10px;
}
.list_content_border{
    border-top: 1px solid rgb(146, 140, 140);
    /* border-bottom: 1px solid rgb(146, 140, 140); */
}
.list_content_link:hover{
    color: orange;
}

/* 다섯번째 칸 - 취업 준비 자료 */
.content_ready{
    padding: 0% 12%;
    padding-top: 40px; 
    padding-bottom: 20px;
    background-color: rgba(130, 168, 212, 0.1);
}
.content_ready_title{
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 2%;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}
.content_ready_content{
    display:flex;
    justify-content: center;
}
.content_ready_content_contents{
    border: 1px solid black;
    margin: 10px;
    width: 33%;
    text-align: center;
    position: relative;
}
.content_ready_content_contents:hover{
    border: 1px solid orange;
}
#content_ready_content_contents_name{
    text-align: center;
    opacity: .7;
}
#content_ready_content_contents_exp{
    visibility: hidden;
    text-align: center;
    top: 68%;
    position: absolute;
    width: 100%;
}
.content_ready_content_contents:hover #content_ready_content_contents_exp{
    visibility: visible;
}
.content_ready_content_contents:hover #content_ready_content_contents_title{
    visibility: hidden;
}
.content_ready_content_contents:hover #content_ready_content_contents_name{
    visibility: hidden;
}
iframe{
    width: 100%;
    height: 200px;
}
.content_ready_content_contents h5{
    font-size: 16px;
}
/**/
.footer{
    margin: 0% 4%;
    padding: 2% 10%; 
    display:flex; 
    justify-content: space-between; 
    align-items: center;
    border-top: 3px solid black;
}
.footer_company{
    width: 30%;
    font-size: 36px; 
    font-family: 'Monoton', sans-serif; 
    text-align:center;
}
.footer_letter{
    width: 30%; 
    text-align: center;
}
.footer_letter button{
    font-size: 16px; 
    padding: 4% 8%; 
    border-radius: 10px;
}
.footer_letter button:hover{
    background-color: orange;
}
.footer_feedback{
    width: 30%; 
    text-align: center; 
    font-size: 16px;
}
.footer_feedback button{
    font-size: 16px; 
    padding: 4% 8%; 
    border-radius: 10px;
}
.footer_feedback button:hover{
    background-color: orange;
}
/*letter*/
#letter{
    border: 1px solid black; 
    margin: 40px auto; 
    width: 420px; 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    animation: goOpacityUp 2s ease-in-out;
}
.letter_center{
    display: flex;
    justify-content: center;
}
/*feedback*/
#feedback{
    border: 1px solid black; 
    width: 440px; 
    margin: 40px auto;
    padding: 20px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    animation: goOpacityUp 2s ease-in-out;
}
#feedback h1{
    text-align: center;
}
#feedback h2{
    text-align: center;
}
#feedback h4{
    opacity: .5;
}
#feedback_submit{
    display: flex;
    justify-content: center;
}
#feedback_notlogin{
    border: 1px solid black;
    text-align: center;
    padding: 30% 0%;
}
/*디테일 detail*/
#detail_tail{
    margin-top: 80px;
    text-align: center;
}
#detail_tail_title{   
}
#detail_tail_button{
    padding: 12px; 
    border-radius: 10px;
}
#detail_tail_button:hover{
    background-color: orange;
}
#like-icon{
    color: red;
}
#like-icon:hover{
    color: rgb(255, 116, 116);
}
#detail_tail_login{
    text-align: center; 
    padding: 200px 100px; 
    background-color: rgba(130, 168, 212, 0.1);;
}
#detail_tail_login_button{
    padding: 20px 40px; 
    background-color: orange; 
    border-radius: 10px;
    font-weight: bold;
}
/*로그인*/
.login{
    text-align: center;
    background-color: rgba(130, 168, 212, 0.1);
    padding: 60px 0px;
    width: 40vw;
    height: 40vh;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: goOpacityUp 2s ease-in-out;
}
.login_socialaccount{
    text-align: center;
    padding-bottom: 30px;
}
.login_socialaccount_or{
    border: 1px dotted black;
}
.login_socialaccount_providers{
    display: flex;
    justify-content: center;
}
.login_socialaccount_providers_list{
    border: 1px solid orange;
    height: 80px;
    width: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 191, 72);
}
.login_socialaccount_providers_list:hover{
    opacity: .7;
}
.fa-google{
    margin: 7px;
}
.fa-google_icon_exp{
    margin-top: -7px;
}
/*로그아웃*/
.logout{
    text-align: center;
    padding: 60px 0px;
    background-color: rgba(130, 168, 212, 0.1);
    width: 40vw;
    height: 40vh;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    animation: goOpacityUp 2s ease-in-out;
}
.logout_button{
    padding: 30px;
    font-size: 30px;
    font-weight: 800;
    border-radius: 10%;
}
.logout_button:hover{
    opacity: .5;
}
/* 회원가입 */
.signup_onlygoogle{
    margin: 30px 0px;
    opacity: .7;
    animation: goOpacityUp 2s ease-in-out;
}
/*마이페이지*/
.mypage{
    background-color: rgba(130, 168, 212, 0.1);
    padding: 80px;
    width: 40vw;
    height: 40vh;
    border-radius: 10px;
    margin: 50px auto;
    animation: goOpacityUp 2s ease-in-out;
}
#mypage_first_title{
    text-align: center;
}
.mypage_first{
    text-align: center;
    margin: auto;
}
.mypage_first_head_th{
    border: 2px solid orange;
}
.mypage_first_body_td{
    /* border-bottom: 2px solid orange; */
}