html{
    background-color: rgb(248,248,250);
}
body{
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}

/* menu / navbar */
.menu{
    display: flex;
    border-bottom: 3px solid black;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 0% 12%;
    margin: 0% 4%;
    font-family: 'Noto Sans KR', sans-serif;
}
.menu_company{
    font-size: 36px;
    font-family: 'Monoton', sans-serif;
    width: 170px;
    animation: goOpacityUp 2s ease-in-out;
}
.menu_right{
    display: flex;
    width: 170px;
}
.dropbtn{
    padding: 16px;
    font-size: 16px;
    animation: goOpacityUp 2s ease-in-out;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown_left{
    margin-left: 40%;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 5px 12px;
    border-radius: 10px;
}
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 4px 8px;
    border-radius: 10px;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropbtn{
    color: orange;
}

/* 첫번째 칸 - 기업 소개 */
.content_first{
    display: flex;
    padding: 4% 12% 2% 12%;
    background-color: rgba(130, 168, 212, 0.1);
    animation: goOpacityUp 2s ease-in-out;
    font-family: 'Noto Sans KR', sans-serif;
    background-image: url('/static/images/content_first_background.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.content_first_left{
    width: 50%;
    padding-bottom: 40px;
}
.content_first_left_upper{
    font-size: 32px;
    font-weight: bold;
}
.content_first_left_upper p:last-child{
    margin-top: -32px;
}
.content_first_left_lower_label{
    font-size: 20px;
}
.content_first_left_lower_option{
    margin-top: 10px;
}
.content_first_left_lower_option li{
    list-style: none;
}

.content_first_left_lower_option a{
    display: inline-block;
    font-size: 20px;
    color: black;
    opacity: .3;
}
.content_first_left_lower_option a:hover{
    opacity: 1;
    cursor: pointer;
    color: orange;
    font-weight: bold;
}
.content_first_left_lower_option a:hover i{
    margin-left: 20px;
}
.content_first_right{
    width: 50%;
}

/* 두번째 칸 - 인스트럭션 + 지원서 */
.content_second{ 
    padding: 4% 12% 2% 12%; 
    animation: goOpacityUp 2s ease-in-out;
    display: flex; 
}
.content_second_upper_left{
    width: 50%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.content_second_upper_left img{
    width: 80%; 
    height: 300px; 
    border: 1px solid black; 
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.content_second_upper_right{
    width: 50%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid black;
}
.content_second_upper_right p{
    font-size: 24px;
    margin-top: -24px;
}
.black_bg{
    display: none; 
    position: fixed; 
    content: ''; 
    width: 100%; 
    height: 100%; 
    background-color:rgba(0, 0,0, 0.5); 
    top:0; 
    left: 0; 
    z-index: 1;
}
.content_second_left{
    padding: 10px;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#modal_btn{
    text-decoration: underline;
    text-underline-position: under;
    color: orange;
}
#modal_btn:hover{
    opacity: .3;
    cursor: pointer;
    text-decoration: none;
}
#modal_btn:hover + #content_second_upper_right_arrow{
    animation: goRightandLeft .5s ease-in-out infinite;
}
.modal_wrap{
    display: none; 
    width: 500px; 
    height: 500px; 
    position: fixed; 
    top:50%; 
    left: 50%; 
    margin: -250px 0 0 -250px; 
    background:#eee; 
    z-index: 2;
}
.modal_close{
    border: 1px solid black; 
    margin-top: -38px; 
    background-color: white; 
    height: 24px; 
    width: 20px; 
    padding-top: 2px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.modal_close a{
    color: red;
}
.modal_close a:hover{
    cursor: pointer;
}
.content_second_left_application{
    padding: 0% 20%;
    height: 100%;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 12px;
}
.content_second_left_application > h2{
    margin-top: 37px;
}
.content_second_left_application_submit{
    border: 1px solid black;
    text-align: center;
    padding: 20px 20px;
    border-radius: 10px;
}
.content_second_select{
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}
.content_second_selects{
    text-align: center;
    width: 80px;
}
.content_second_select_input_one{
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding-left: 15px;
}
.content_second_select_input_two{
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 4px; 
    padding-left: 30px;
}
.content_second_select_input_three{
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 4px; 
    padding-left: 30px;
}
.content_second_select_input_four{
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding-left: 15px;
}
.content_second_select_input_five{
    display: flex; 
    justify-content: center; 
    align-items: center;
    /* padding-left: 10px; */
}
.underline{
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
}
.content_second_inputs{
    height: 30px;
}
.content_second_submit{
    margin: 20px 0px 0px 0px;
    border-radius: 50px;
    width: 100px;
    background-color: #82a8d41a;
}
.content_second_left_application_inst{
    text-align: center;
}
#content_second_left_application_inst_first{
    color: orange;
}
#content_second_left_application_inst_second{
    margin-top: -16px;
}
#content_second_left_application_inst_third{
    margin-top: -16px;
    border: 1px solid black;
}
#content_second_left_application_submit_signup{
    padding: 0px 10px;
}
.content_second_h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 2%;
}
/* 취업 정보 컨텐츠 */
.content_popular{
    padding: 0% 12%;
    /* background-color: rgba(130, 168, 212, 0.1); */
}
.content_popular_title{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    padding-top: 40px;
}
.content_popular_top{
    padding: 20px 0px 20px 0px;
    text-align: center;
    margin: 0 auto;
}
.content_popular_top_box{	
    margin: 0px 15px;
}
.content_popular_top_contents{
    display: inline-block;
    position: relative;
    width: 208px;
    height: 180px;
    padding: 0px 12px;
    border: 1px solid gray;
    border-radius: 15px;
    vertical-align: middle;
    text-align: left;
    background-color: white;
    margin: 0px 0px 20px 0px;
}
.content_popular_top_contents img{
    width: 60%;
    height: 50px;
    margin: 24px 0px 12px 0px;
}
#content_popular_top_contents_company{
    font-size: 24px;
    font-weight: 600;
    margin: 6px 0px 6px 0px;
}
#content_popular_top_contents_job{
    font-size: 20px;
    font-weight: 400;
    margin: 6px 0px;
}
.content_popular_top_contents:hover{
    border: 3px solid orange;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* 직무 / 자격증 */
.content_issue{
    padding: 0% 12%;
    background-color: rgba(155, 155, 155, 0.1);
}
#content_issue_second, #content_issue_third, #content_issue_tablet_second, #content_issue_tablet_third,#content_issue_tablet_fourth, #content_issue_tablet_fifth, #content_issue_mobile_second, #content_issue_mobile_third, #content_issue_mobile_fourth,#content_issue_mobile_fifth, #content_issue_mobile_sixth, #content_issue_mobile_seventh, #content_issue_mobile_eighth, #content_issue_mobile_ninth{
    display: none;
    justify-content: center;
} 
#content_issue_first_title{
    font-size: 32px; 
    margin-bottom: 20px;
    padding-top: 80px;
    font-weight: bold;
}
#content_issue_first_subtitle{
    font-size: 20px;
    margin: 20px 0px 20px 32px;
}
#content_issue_first{
    display: flex;
    justify-content: center;
}
#content_issue_video{
    border: 1px solid black;
    margin: 0px 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#content_issue_video_iframe{
    width: 320px;
    height: 212px;
}
#content_issue_video_title{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
#content_issue_video_subtitle{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
.controls{
    margin-top: 40px;
    text-align: end;
}
.controls span{
    background-color: #333;
    color: white;
    border: 1px solid black;
    border-radius: 10%;
	padding: 10px 20px;
	margin: 0 4px;
    font-size: 16px;
}
.controls span:hover{
    cursor: pointer;
}
.prev:hover{
    background-color: orange;
}
.next:hover{
    background-color: orange;
}
.content_issue_tablet{
    display: none;
}
#content_issue_tablet_first{
    /* display: flex;
    justify-content: center; */
}
#content_issue_tablet_video{
    /* border: 1px solid black;
    margin: 0px 10px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
}
#content_issue_tablet_video_iframe{
    /* width: 320px;
    height: 212px; */
}
#content_issue_tablet_video_title{
    /* font-size: 20px;
    font-weight: 700;
    text-align: center; */
}
#content_issue_tablet_video_subtitle{
    /* font-size: 16px;
    font-weight: 500;
    text-align: center; */
}
#tablet_controls{
    /* text-align: end; */
}
#tablet_controls span{
    /* background-color: #333;
    color: white;
    border: 1px solid black;
    border-radius: 10%;
	padding: 10px 20px;
	margin: 0 4px; */
}
#tablet_controls span:hover{
    /* cursor: pointer; */
}
#tablet_prev:hover{
    /* background-color: orange; */
}
#tablet_next:hover{
    /* background-color: orange; */
}
.content_issue_mobile{
    display: none;
}
#content_issue_mobile_first{
    /* display: flex;
    justify-content: center; */
}
#content_issue_mobile_video{
    /* border: 1px solid black;
    margin: 0px 10px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
}
#content_issue_mobile_video_iframe{
    /* width: 320px;
    height: 212px; */
}
#content_issue_mobile_video_title{
    /* font-size: 20px;
    font-weight: 700;
    text-align: center; */
}
#content_issue_mobile_video_subtitle{
    /* font-size: 16px;
    font-weight: 500;
    text-align: center; */
}
#mobile_controls{
    /* text-align: end; */
    display: none;
}
#mobile_controls span{
    /* background-color: #333;
    color: white;
    border: 1px solid black;
    border-radius: 10%;
	padding: 10px 20px;
	margin: 0 4px; */
}
#mobile_controls span:hover{
    /* cursor: pointer; */
}
#mobile_prev:hover{
    /* background-color: orange; */
}
#mobile_next:hover{
    /* background-color: orange; */
}
.content_issue_second_title{
    margin: 80px 0px 20px 0px;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
}
.content_issue_second_category{
    display: flex;
    margin-top: 20px;
}
.content_issue_second_category_list{
    display: flex;
    text-align: center;
    justify-content: center;
}
.content_issue_second_category_list h3{
    margin: 0px 20px;
    padding: 2px;
    font-weight: 400;
    font-size: 24px;/**/
}
.content_issue_second_category_list h3:hover{
    color: orange;
    font-weight: 700;
    cursor: pointer;
    border-bottom: 2px solid black;
}
.content_issue_second_category_list:focus{
    border: 1px solid black;
}
.content_issue_second_list{
    padding-bottom: 50px;
}
.list_content{
    margin-top: 9px;
    padding: 0px 10px;
}
.list_content_border{
    border-top: 1px solid rgb(146, 140, 140);
}
.list_content_link h2{
    font-size: 20px;/**/
}
.list_content_link:hover{
    color: orange;
}
#list_content_link_tag{
    border: 1px solid black;
    font-size: 12px;/**/
    padding: 0px 4px;
    border-radius: 10px;
    font-weight: 400;
    background-color: white;
}
#list_content_link_exp{
    opacity: 0.7;
    margin: -10px 0px 0px 10px;
}
/* 자소서 / 면접 */
.content_ready{
    padding: 0% 12%;
    padding-top: 40px; 
    background-color: rgba(130, 168, 212, 0.1);
}
.content_ready_title{
    padding-top: 20px;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Noto Sans KR', sans-serif;
}
.content_ready_subtitle{
    font-size: 8px;
    margin-top: -16px;
    margin-bottom: 4px;
}
.content_ready_content{
    display:flex;
    justify-content: center;
}
.content_ready_content_contents{
    border: 1px solid black;
    margin: 10px;
    width: 320px;
    text-align: center;
    position: relative;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}
.content_ready_content_contents:hover{
    border: 1px solid orange;
}
.content_ready_content_contents img{
    width: 80%;
    height: 40%;
    padding: 35px 0px 0px 0px;
}
#content_ready_content_contents_title{
    font-size: 20px;
    font-weight: 700;
}
#content_ready_content_contents_name{
    font-size: 16px;
    font-weight: 500;
}
#content_ready_content_contents_exp{
    visibility: hidden;
    top: 73%;
    position: absolute;
    font-weight: 500;
    width: 100%;
    font-size: 14px;
}
.content_ready_content_contents:hover #content_ready_content_contents_exp{
    visibility: visible;
}
.content_ready_content_contents:hover #content_ready_content_contents_title{
    visibility: hidden;
}
.content_ready_content_contents:hover #content_ready_content_contents_name{
    visibility: hidden;
}
.content_interview{
    padding: 0% 12%;
    padding-top: 40px; 
    padding-bottom: 20px;
    background-color: rgba(130, 168, 212, 0.1);
}
.content_interview_title{
    padding-top: 20px;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Noto Sans KR', sans-serif;
}
.content_interview_subtitle{
    font-size: 8px;
    margin-top: -16px;
    margin-bottom: 4px;
}
.content_interview_content{
    display:flex;
    justify-content: center;
}
.content_interview_content_contents{
    border: 1px solid black;
    margin: 10px;
    width: 320px;
    text-align: center;
    position: relative;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}
.content_interview_content_contents:hover{
    border: 1px solid orange;
}
.content_interview_content_contents img{
    width: 80%;
    height: 40%;
    padding: 35px 0px 0px 0px;
}
.content_interview_content_contents iframe{
    width: 100%;
    height: 54%;
}
#content_interview_content_contents_title{
    font-size: 20px;
    font-weight: 700;
}
#content_interview_content_contents_name{
    font-size: 16px;
    font-weight: 500;
}
#content_interview_content_contents_exp{
    visibility: hidden;
    top: 73%;
    position: absolute;
    font-weight: 500;
    width: 100%;
    font-size: 14px;
}
.content_interview_content_contents:hover #content_interview_content_contents_exp{
    visibility: visible;
}
.content_interview_content_contents:hover #content_interview_content_contents_title{
    visibility: hidden;
}
.content_interview_content_contents:hover #content_interview_content_contents_name{
    visibility: hidden;
}

/**/
.footer{
    display: flex;
    margin: 0% 4%;
    padding: 2% 12%;
    border-top: 3px solid black;
}
.footer_letter{
    width: 70%;
}
#footer_company{
    font-family: 'Monoton', sans-serif;
    font-size: 48px;
}
#footer_content{
    font-size: 28px;
    margin-top: -18px;
    font-weight: 400;
}
#footer_content:first-child{
    margin-top: 0px;
}
#footer_link{
    width: 30%;
    padding-top: 10px;
}

/*letter*/
#letter{
    border: 1px solid black; 
    margin: 40px auto; 
    width: 420px; 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    animation: goOpacityUp 2s ease-in-out;
}
.letter_center{
    display: flex;
    justify-content: center;
}

/*feedback*/
#feedback{
    border: 1px solid black; 
    width: 440px; 
    margin: 40px auto;
    padding: 20px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    animation: goOpacityUp 2s ease-in-out;
}
#feedback h1{
    text-align: center;
}
#feedback h2{
    text-align: center;
}
#feedback h4{
    opacity: .5;
}
#feedback_submit{
    display: flex;
    justify-content: center;
}
#feedback_notlogin{
    border: 1px solid black;
    text-align: center;
    padding: 30% 0%;
}

/*디테일 detail*/
.loader{
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#detail_head{
    height: 100vh;
}
#detail_tail{
    margin-top: 60px;
    text-align: center;
}
#detail_tail_title{   
}
#detail_tail_button{
    padding: 12px; 
    border-radius: 10px;
}
#detail_tail_button:hover{
    background-color: orange;
}
#like-icon{
    color: red;
}
#like-icon:hover{
    color: rgb(255, 116, 116);
}
#recommend-icon{
    color: black;
}
#recommend-icon:hover{
    color: gray;
}
#detail_tail_login{
    text-align: center; 
    padding: 200px 100px; 
    background-color: rgba(130, 168, 212, 0.1);;
}
#detail_tail_login_button{
    padding: 20px 40px; 
    background-color: orange; 
    border-radius: 10px;
    font-weight: bold;
}

/*로그인*/
.login{
    text-align: center;
    background-color: rgba(130, 168, 212, 0.1);
    padding: 60px 0px;
    width: 40vw;
    height: 40vh;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: goOpacityUp 2s ease-in-out;
}
.login_socialaccount{
    text-align: center;
    padding-bottom: 30px;
}
.login_socialaccount_or{
    border: 1px dotted black;
}
.login_socialaccount_providers{
    display: flex;
    justify-content: center;
}
.login_socialaccount_providers_list{
    border: 1px solid orange;
    height: 80px;
    width: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 191, 72);
}
.login_socialaccount_providers_list:hover{
    opacity: .7;
}
.fa-google{
    margin: 7px;
}
.fa-google_icon_exp{
    margin-top: -7px;
}
/*로그아웃*/
.logout{
    text-align: center;
    padding: 60px 0px;
    background-color: rgba(130, 168, 212, 0.1);
    width: 40vw;
    height: 40vh;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    animation: goOpacityUp 2s ease-in-out;
}
.logout_button{
    padding: 30px;
    font-size: 30px;
    font-weight: 800;
    border-radius: 10%;
}
.logout_button:hover{
    opacity: .5;
}
/* 회원가입 */
.signup_onlygoogle{
    margin: 30px 0px;
    opacity: .7;
    animation: goOpacityUp 2s ease-in-out;
}
/*마이페이지*/
.mypage{
    background-color: rgba(130, 168, 212, 0.1);
    padding: 80px 0px;
    margin: 0px auto;
    animation: goOpacityUp 2s ease-in-out;
    font-family: 'Noto Sans KR', sans-serif;
    min-height: 60vh;
}
#mypage_first_title{
    text-align: center;
}
.mypage_first{
    text-align: center;
    margin: auto;
    border-collapse: collapse;
}
.mypage_first_head{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.mypage_first_head_th{
    padding: 4px 20px;
}
.mypage_first_body_td{
    padding: 8px 20px;
}
.mypage_first_body tr:hover{
    background-color: orange;
}
.mypage_first_body_td a:hover{
    text-decoration: underline;
}

/* 게시판 */
#board{
    padding: 4% 12%;
    background-color: rgba(155, 155, 155, 0.1);
    min-height: 60vh;
}
#board_title{
    font-family: 'Noto Sans KR', sans-serif;
}
#board_subtitle{
    margin-top: -20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: lighter;
}
#board_table{
    /* margin: 0 auto; */
    width: 100%;
    border-collapse: collapse;
}
.board_table_heads{
    padding: 16px 4px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#board_table_body_content{
    border-bottom: 1px solid gray;
    padding: 10px 5px;
}
.board_table_bodies{
    padding: 8px 4px;
}
#board_table_body_number{
    /* width: 40px; */
    text-align: center;
}
#board_table_body_title{
    /* width: 200px; */
}
#board_table_body_writer{
    /* width: 80px; */
    text-align: center;
}
#board_table_body_pubdate{
    /* width: 200px; */
    text-align: center;
}
#board_table_body_like{
    width: 60px;
    text-align: center;
}
#board_table_body_content:hover{
    background-color: orange;
}
#board_table_body_title a:hover{
    text-decoration: underline;
}
#board_create_button{
    padding: 4px 8px; 
    display: flex; 
    margin-left: auto;
}

/* 게시판 작성하기 */
#board_new{
    padding: 4% 12%;
    font-family: 'Noto Sans KR', sans-serif;
}
#board_new_input_title{
    width: 80%;
    height: 32px;
}
#board_new_input_content{
    width: 100%;
    height: 30vh;
}
#board_new_button_submit{
    display: flex;
    justify-content: end;
}

/* 게시판 상세 */
#board_detail{
    padding: 4% 12%;
}
#board_detail_title{
    border-bottom: 2px solid black;
}
#board_detail_info{
    display: flex;
    justify-content: space-between;
    margin-top: -22px;
}
#board_detail_writer{
    font-size: 16px;
    padding: 0px 16px;
}
#board_detail_pubdate{
    font-size: 16px;
    padding: 0px 16px;
}
#board_detail_content{
    padding: 6px 18px;
    margin-top: 24px;
    background-color: white;
}
#board_detail_content textarea{
    font-size: 22px;
    padding: 20px 0px;
    width: 100%;
    height: 30vh;
    border: 0px solid white;
    background-color: white;
}
#board_detail_image{
    width: 100%;
}
#board_detail_function{
    text-align: end;
    margin-top: 24px;
}
#board_detail_function_like{
    display: flex;
    justify-content: center;
    margin-top: 12px;
}
#board_detail_function_like_button{
    display: flex;
    align-items: center;
    height: 40px;
}
#board_detail_comment{
    margin-top: 24px;
    padding: 6px 12px;
}
#board_detail_comment_content{
    border-bottom: 1px solid black;
    padding: 0px 12px;
    background-color: white;
}
#board_detail_comment_content_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#board_detail_comment_create{
    margin-top: 20px;
    padding: 4px 16px;
}
#comment_create_input{
    width: 50%;
}

/* 댓글 수정하기 */
#board_comment_edit{
    padding: 4% 12%;
    height: 50vh;
}

/* 직무 샘플 */
#body_div{
    background-color: rgba(130, 168, 212, 0.1);
    width: 600px;
    margin: 0 auto;
    padding: 12px 20px 0px 20px;
}
#company_name{
    font-size: 55px;
    text-align: center;
    font-family: 'Monoton', sans-serif;
}
#company_name a{
    text-decoration: none;
    color: black;
}
.oneline_notify{
    padding: 0px 0px 20px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.notify h2{
    padding-top: 20px;
}
.notify h3{
    padding-left: 30px;
    font-weight: 400;
}
.sample_title{
    padding: 12px 50px 0px 50px;
}
#sample_title_first{
    opacity: .7;
}
#sample_title_second{
    color: orange;
}
.sample{
    padding-bottom: 40px;
}
.sample_content{
    width: 440px;
    background-color: white;
    padding: 30px;
    margin: 0 auto;
    border: 1px solid orange;
}
#sample_content_title{
    text-align: center;
    font-size: 32px;
    margin: 0 auto;
    padding: 20px 0px;
    text-decoration: underline;
}
.sample_content_private, .sample_content_language, .sample_content_certificate, .sample_content_activity_in, .sample_content_activity_out, .sample_content_career{
    padding-bottom: 15px;
}
.sample_content_private_content, .sample_content_language_content, .sample_content_certificate_content, .sample_content_activity_in_content, .sample_content_activity_out_content, .sample_content_career_content{
    padding-left: 20px;
}
.summary{
    padding-bottom: 20px;
}
.summary_title h1{
    color: orange;
}
.summary_content_question p{
    padding: 4px 20px;
}
.summary_content_exp{
    width: 480px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
}
.summary_content_exp h2{
    text-decoration: underline;
}
.summary_content_exp h3{
    padding: 0px 10px;
}
.summary_content_exp_sample{
    padding: 0px 20px;
}
.summary_content_exp_sample p{
    padding: 4px 0px;
}
.summary_content_answer h2{
}
.summary_content_answer p{
    padding: 0px 20px;
}
#body_div strong{
    color: orange;
}
.end_ment{
    border-top: 1px solid gray;
    padding: 0px 40px 30px 40px;
    text-align: center;
}
.end_ment h5{
    text-align: start;
}
.end_ment a{
    text-decoration: none;
    color: black;
}
#end_ment_btn{
    width: 200px;
    height: 40px;
    background-color: orange;
    border-radius: 10px;
}
#end_ment_btn:hover{
    opacity: .5;
}