{% extends 'base.html' %}
{% load static %}
<!---->

<!---->
{% block content %}

{% if user.is_authenticated %}
<h1>{{data.company}}</h1>
<br>
<br>직무: {{data.job}}
<br>취업년도: {{data.employed_year}}
<br>날짜: {{data.pub_date}}
<br>
{% if data.image %}
    <p><img src="{{data.image.url}}" alt="사진"></p>
{% endif %}
<br><p>{{data.body}}</p>

<br><br><br><br>
<a href="{% url 'main:edit' data.id %}">수정하기</a>
<a href="{% url 'main:delete' data.id %}">삭제하기</a>
{% else %}
<h3>로그인 후 이용 가능</h3>
<a href="{% url 'account_login' %}">로그인</a>
<a href="{% url 'account_signup' %}">회원가입</a>
{% endif %}
{% endblock %}