{% extends 'base.html' %}
{% load static %}
<!---->

<!---->
{% block content %}
<div class="content content_first">
    <div class="content_first_left">
        <div class="content_first_left_exp">
            <h1 id="content_first_left_exp_first">취업 준비 힘들지?</h1>
            <h2>우리가 도와줄게!</h2>
            <h3>우리 학교 선배들은 어떻게 했는지 보자!</h3>
        </div>
        <div class="content_first_left_icon">
            <div class="content_first_left_icon_content">
                <div class="content_first_left_icon_content">
                    <i class="fas fa-book-open fa-2x left_icon"></i>
                    <h4>선배 정보 받기</h4>
                    <h6>선배들의 활동을 받아보세요!</h6>
                </div>
            </div>
            <div class="content_first_left_icon_content">
                <div class="content_first_left_icon_content">
                    <i class="fas fa-exclamation-circle fa-2x left_icon"></i>
                    <h4>취업 최신 이슈</h4>
                    <h6>최신 이슈를 확인하세요!</h6>
                </div>
            </div>
            <div class="content_first_left_icon_content">
                <div class="content_first_left_icon_content">
                    <i class="fab fa-youtube fa-2x left_icon"></i>
                    <h4>취업 관련 영상</h4>
                    <h6>취업 준비를 영상과 함께!</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="content_first_right">
        <div class="content_first_right_paper">
            <img class="content_first_right_paper_image" src="{% static 'images/2.jpg' %}">
        </div>
    </div>
</div>
<!---->
<div class="content_second_h2">선배들의 정보를 받아봐!</div>
<div class="content_second">
    <div class="content_second_right">
        <div class="content_second_right_instruction">
            <h2>정보 샘플</h2>
            <img class="content_second_right_instruction_image" src="{% static 'images/1.jpg' %}">
            <p>1. 당신의 학교 선배가 어떤 자격증을 가졌는지</p>
            <p>2. 당신의 학교 선배가 어떤 대외활동을 하였는지</p>
            <p>2. 당신의 학교 선배가 어떤 공모전에 참여하였는지</p>            
        </div>
    </div>
    <div class="content_second_left">
        <div class="content_second_left_application">
            <h2>신청서</h2>
                
            <div class="content_second_left_application_submit">
                <form action = "{% url 'main:request_create' %}" method = "post">
                    {% csrf_token %}
                    <div class="content_second_select">
                        <select class="content_second_selects" name="employ_type" id="employ_type">
                            <option value="">유형</option>
                            <option value="정규">정규</option>
                            <option value="인턴">인턴</option>
                            <option value="IPP">IPP</option>
                        </select>
                    </div>
                    <input class="underline content_second_name" type="text" id="job_type" name="job_type" placeholder="선호직무" required>
                    <input class="underline content_second_name" type="text" id="name" name="name" placeholder="이름" required>
                    <input class="underline content_second_name" type="text" id="school_number" name="school_number" placeholder="학번" required>
                    <input class="underline content_second_email" type="text" id="email" name="email" placeholder="이메일" required>
                    <input class="content_second_submit" type="submit" value="자기소개서 받기">
                </form>
            </div>
            <div class="content_second_left_application_inst">
                <h5>조건에 부합하는 선배의 정보를 이메일로 전송해준다!</h5>
            </div>
        </div>
    </div>
</div>
<!---->
<!-- 
<div class="content_popular">
    <div class="content_popular_title">인기 자소서 TOP 8</div>
    <div class="content_popular_top">
        {% for data in datas %}
        <div class="content_popular_top_contents">
            <h4>{{data.company}}</h4>
            <h5>{{data.job}}</h5>
            <h6>{{data.employed_year}}</h6>
            <a href ="{%url 'main:detail' data.id %}">...자세히</a>
        </div>
        {%endfor%}
    </div>
    <div class="content_popular_bottom">
        <div class="content_popular_bottom_contents">
            <h4>LG전자</h4>
            <h5>sbjfsabnjlkfnqwpknfpiqwnipfbqwiofbqwip</h5>
            <h6>2021년도</h6>
        </div>
        <div class="content_popular_bottom_contents">
            <h4>LG전자</h4>
            <h5>sbjfsabnjlkfnqwpknfpiqwnipfbqwiofbqwip</h5>
            <h6>2021년도</h6>
        </div>
        <div class="content_popular_bottom_contents">
            <h4>LG전자</h4>
            <h5>sbjfsabnjlkfnqwpknfpiqwnipfbqwiofbqwip</h5>
            <h6>2021년도</h6>
        </div>
        <div class="content_popular_bottom_contents">
            <h4>LG전자</h4>
            <h5>sbjfsabnjlkfnqwpknfpiqwnipfbqwiofbqwip</h5>
            <h6>2021년도</h6>
        </div>
    </div>
    <div>
        <h2><a href="{% url 'main:new' %}">자소서 업로드</a></h2>
    </div>    
</div> -->
<!---->
<div class="content_issue">
    <div class="content_issue_title">취업에 도움되는 최신 이슈를 보자!</div>
    <div class="content_issue_category">
        <a class="content_issue_category_list category_list_first" onclick="paintList(1)"><h3>학교</h3></a>
        <a class="content_issue_category_list category_list_second" onclick="paintList(2)"><h3>인강</h3></a>
        <a class="content_issue_category_list category_list_third" onclick="paintList(3)"><h3>뉴스레터</h3></a>
        <a class="content_issue_category_list category_list_fourth" onclick="paintList(4)"><h3>블로그</h3></a>
    </div>
    <div class="content_issue_list">
        <div class="list_content list_first"><h3 style="text-align: center;">보고 싶은 카테고리를 클릭하세요!</h3></div>
        <div class="list_content list_second"></div>
        <div class="list_content list_third"></div>
        <div class="list_content list_fourth"></div>
        <div class="list_content list_fifth"></div>
        <div class="list_content list_sixth"></div>
    </div>
</div>
<!---->
<div class="content_ready">
    <div class="content_ready_title">취업 준비를 영상과 함께 하자!</div>
    <div class="content_ready_content">
        <div class="content_ready_content_contents">
            <iframe width="270" height="200" src="https://www.youtube.com/embed/0tLTEg-ftvI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h5>막막한 나의 취준에 그저 빛이 되어 줄 '취업준비 순서'</h5>
            <h6>인싸담당자</h6>
        </div>
        <div class="content_ready_content_contents">
            <iframe width="270" height="200" src="https://www.youtube.com/embed/AJ8rhNnoPSE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h5>이런 분들은 개발자 하지 마세요</h5>
            <h6>테크보이 워니</h6>
        </div>
        <div class="content_ready_content_contents">
            <iframe width="270" height="200" src="https://www.youtube.com/embed/nmFsFdNBQm8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h5>공기업 취업 준비 나도 지원해볼까? 고민 중이라면!</h5>
            <h6>취업예감TV</h6>
        </div>
    </div>
    <div class="content_ready_content">
        <div class="content_ready_content_contents">
            <iframe width="270" height="200" src="https://www.youtube.com/embed/0tLTEg-ftvI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h5>막막한 나의 취준에 그저 빛이 되어 줄 '취업준비 순서'</h5>
            <h6>인싸담당자</h6>
        </div>
        <div class="content_ready_content_contents">
            <iframe width="270" height="200" src="https://www.youtube.com/embed/AJ8rhNnoPSE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h5>이런 분들은 개발자 하지 마세요</h5>
            <h6>테크보이 워니</h6>
        </div>
        <div class="content_ready_content_contents">
            <iframe width="270" height="200" src="https://www.youtube.com/embed/nmFsFdNBQm8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h5>공기업 취업 준비 나도 지원해볼까? 고민 중이라면!</h5>
            <h6>취업예감TV</h6>
        </div>
    </div>
</div>
{% endblock %}