{% extends 'base.html' %}
{% load static %}
<!---->
{% block content %}
<!-- 컨텐츠 1층 -->
<div class="content_first">
    <!-- 컨텐츠 1층의 윗쪽 -->
    <div class="content_first_upper">
        <!-- 윗쪽의 왼쪽 -->
        <div class="content_first_upper_left">
            <!-- <p>뭐부터 시작해야 하지...?</p>
            <p>다른 사람들은<br>어떻게 시작할까...?</p> -->
        </div>
        <!-- 윗쪽의 가운데 -->
        <div class="content_first_upper_middle">
            <div class="content_first_upper_middle_top">
                <h1>정답 없는</h1>
                <h1>&nbsp;취업 준비</h1>
            </div>
            <h1 class="content_first_upper_middle_h1">선배들은 어떻게 취업했을까?</h1>
            <h3 class="content_first_upper_middle_h3_first">궁금한 선배들의 스펙 + 자소서 한 줄 POINT까지</h3>
            <h3 class="content_first_upper_middle_h3_second">@ 이메일로 받아보는 스펙 정보 @</h3>
        </div>
        <!-- 윗쪽의 오른쪽 -->
        <div class="content_first_upper_right">
            <!-- <p>노답? 정답이 없다</p>
            <p>모든 가능성이 열려 있다<p> -->
        </div>
    </div>
    <!-- 컨텐츠 1층의 아랫쪽 -->
    <div class="content_first_lower">
        <div class="content_first_lower_content">
            <i class="fas fa-user-graduate fa-3x"></i>
            <h3>취업 정보 제공</h3>
            <h5>신청서 작성 시 정보를 제공해드립니다!</h5>
        </div>
        <div class="content_first_lower_content">
            <i class="far fa-newspaper fa-3x"></i>
            <h3>취업 정보통</h3>
            <h5>취업에 도움되는 사이트를 알려드립니다!</h5>                
        </div>
        <div class="content_first_lower_content">
            <i class="fab fa-youtube fa-3x"></i>
            <h3>취업 유튜브</h3>
            <h5>취업 관련 전문 유튜브를 알려드립니다!</h5>
        </div>
    </div>
</div>
<!---->
<!--두번째 컨텐츠-->
<div class="content_second">
    <div class="content_second_upper">
        <!--왼쪽-->
        <div class="content_second_upper_left">
            <h2>NODOUBT이 드리는 선배들의 취업 정보</h2>
            <h1>저희 서비스에서는<br>이러한 정보를 얻을 수 있습니다.</h1>
            <h4>&nbsp;&nbsp;•  선배의 스펙<br><br>&nbsp;&nbsp;•  선배의 자소서 한줄 POINT<br><br>&nbsp;&nbsp;•  NODOUBT의 간단 COMMENT</h4>
        </div>
        <!--오른쪽-->
        <div class="content_second_upper_right">
            <img src="{% static 'images/second_right_image.jpg' %}">
        </div>
    </div>
    <div class="content_second_dtime">
        <h1 class="content_second_dtime_h1">NEW CONTENT 배포일: 9월 6일 월요일</h1>
        <h2 class="content_second_dtime_clock">00:00:00</h2>
        <div class="content_second_dtime_input">
            <input class="content_second_dtime_input_button" id="modal_btn" type="button" value="자료 신청하기">
        </div>
        <div class="black_bg"></div>
        <div class="content_second_left modal_wrap">
            <div class="modal_close">
                <a>X</a>
            </div>
            <div class="content_second_left_application">
                <h2>신청서</h2>
                <div class="content_second_left_application_submit">
                    {% if user.is_authenticated %}
                    <form id="content_second_left_application_submit_form" action = "{% url 'main:request_create' %}" method = "post">
                        {% csrf_token %}
                        <div class="content_second_select">
                            <select class="content_second_selects" name="employ_type" id="employ_type">
                                <option value="">유형</option>
                                <option value="정규">정규</option>
                                <option value="인턴">인턴</option>
                                <option value="IPP">IPP</option>
                            </select>
                        </div>
                        <div class="content_second_select_input">
                            선호직무:&nbsp;<input class="underline content_second_name" type="text" id="job_type" name="job_type" placeholder="  마케팅" required>
                        </div>
                        <div class="content_second_select_input_two">
                            이름:&nbsp;<input class="underline content_second_name" type="text" id="name" name="name" placeholder="  홍길동" required>
                        </div>
                        <div class="content_second_select_input_two">
                            학번:&nbsp;<input class="underline content_second_school_number" type="text" id="school_number" name="school_number" placeholder="  2016111667" required>
                        </div>
                        <div class="content_second_select_input_three">
                            이메일:&nbsp;<input class="underline content_second_email" type="text" id="email" name="email" placeholder="  abc@gmail.com" required>
                        </div>
                        <div class="content_second_submit_box">
                            <input class="content_second_submit" type="submit" value="신청서 제출">
                        </div>
                    </form>
                    {% else %}
                    <br><br><br><br>
                    <h4 id="content_second_left_application_submit_signup">구글 로그인 후 가능</h4>
                    <a href="{% url 'account_signup' %}"><button>구글 로그인</button></a>
                    <br><br><br><br>
                    {% endif %}
                </div>
                <div class="content_second_left_application_inst">
                    <h5 id="content_second_left_application_inst_first">세 선배의 자료를</h5>
                    <h5 id="content_second_left_application_inst_second">이메일로 보내드립니다!</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="content_data_count" style="text-align: center;">
    <h1>NODOUBT이 보유하고 있는 선배의 자료 개수</h1>
    <table class="content_data_table" style="border: 1px solid black; margin: auto;">
        <thead class="content_data_table_first">
            <tr>
                <th colspan="3" style="border: 1px solid green;">총 자료 개수: 50개</th>
            </tr>
        </thead>
        <thead class="content_data_table_second">
            <tr>
                <th scope="col" id="board" style="border: 1px solid blue;">정규</th>
                <th scope="col" id="board" style="border: 1px solid blue;">인턴</th>
                <th scope="col" id="board" style="border: 1px solid blue;">IPP</th>
            </tr>
        </thead>
        <tbody class="content_data_table_third">
            <tr>
                <td style="border: 1px solid orange;">12개</td>
                <td style="border: 1px solid orange;">23개</td>
                <td style="border: 1px solid orange;">34개</td>
            </tr>
        </tbody>
    </table>
</div> -->

<!-- <div class="content_popular">
    <div class="content_popular_title">인기 자소서 TOP 8</div>
    <div class="content_popular_top">
        {% for data in datas %}
        <div class="content_popular_top_contents">
            <h4>{{data.company}}</h4>
            <h5>{{data.job}}</h5>
            <h6>{{data.employed_year}}</h6>
            <a href ="{%url 'main:detail' data.id %}">...자세히</a>
        </div>
        {%endfor%}
    </div>
    <div class="content_popular_bottom" style="display: flex; margin: 0 auto; display: space-between; border: 1px solid black;">
        <div class="content_popular_bottom_contents" style="border: 1px solid greenyellow;">
            <h4>곰표베이커리하우스</h4>
            <h5>sbjfsabnjlkfnqwpknfpiqwnipfbqwiofbqwip</h5>
            <h6>2021년도</h6>
        </div>
        <div class="content_popular_bottom_contents" style="border: 1px solid greenyellow;">
            <h4>삼성전자</h4>
            <h5>sbjfsabnjlkfnqwpknfpiqwnipfbqwiofbqwip</h5>
            <h6>2021년도</h6>
        </div>
        <div class="content_popular_bottom_contents" style="border: 1px solid greenyellow;">
            <h4>LG전자</h4>
            <h5>sbjfsabnjlkfnqwpknfpiqwnipfbqwiofbqwip</h5>
            <h6>2021년도</h6>
        </div>
        <div class="content_popular_bottom_contents" style="border: 1px solid greenyellow;">
            <h4>LG전자</h4>
            <h5>sbjfsabnjlkfnqwpknfpiqwnipfbqwiofbqwip</h5>
            <h6>2021년도</h6>
        </div>
    </div>
    <div>
        <h2><a href="{% url 'main:new' %}">자소서 업로드</a></h2>
    </div>    
</div> -->

<div class="content_issue">
    <div class="content_issue_title">취업에 도움되는 정보통</div>
    <div class="content_issue_category">
        <a class="content_issue_category_list category_list_first" onclick="paintList(1)"><h3><i class="fas fa-school fa-2x"></i><br>학교</h3></a>
        <a class="content_issue_category_list category_list_second" onclick="paintList(2)"><h3><i class="fas fa-chalkboard-teacher fa-2x"></i><br>인강</h3></a>
        <a class="content_issue_category_list category_list_third" onclick="paintList(3)"><h3><i class="fas fa-newspaper fa-2x"></i><br>뉴스레터</h3></a>
        <a class="content_issue_category_list category_list_fourth" onclick="paintList(4)"><h3><i class="fab fa-blogger-b fa-2x"></i><br>블로그 & 카페</h3></a>
    </div>
    <div class="content_issue_list">
        <div class="list_content list_first"></div>
        <div class="list_content list_second"></div>
        <div class="list_content list_third"></div>
        <div class="list_content list_fourth"></div>
        <div class="list_content list_fifth"></div>
        <div class="list_content list_sixth"></div>
    </div>
</div>
<!---->
<div class="content_ready">
    <div class="content_ready_title">취업 준비를 영상과 함께</div>
    <div class="content_ready_content">
        <div class="content_ready_content_contents">
            <iframe src="https://www.youtube.com/embed/K0Lgp61sYdE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h5 id="content_ready_content_contents_title">삼성, SK 대기업 공채 본격화!<br>절대 놓쳐서는 안되는 이유</h5>
            <h5 id="content_ready_content_contents_name">면접왕 이형</h6>
            <h5 id="content_ready_content_contents_exp">취준생들은 알기 어려운 인사담당자의 자소서/면접 질문 의도를 명쾌하게 알려줍니다. </h5>
        </div>
        <div class="content_ready_content_contents">
            <iframe src="https://www.youtube.com/embed/DSBJXuDyDOY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h5 id="content_ready_content_contents_title">면접에서 합격하는 1분 자기소개</h5>
            <h5 id="content_ready_content_contents_name">인싸담당자</h5>
            <h5 id="content_ready_content_contents_exp">정보 제공 컨텐츠 이외도 외부 인력을 적극적으로 초빙하여 다양한 방향의 컨텐츠를 제작합니다.</h5>
        </div>
        <div class="content_ready_content_contents">
            <iframe src="https://www.youtube.com/embed/Vt83Fvhk9TI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h5 id="content_ready_content_contents_title">부족하고 평범한 스펙/경험을 차별화하는 비법</h5>
            <h5 id="content_ready_content_contents_name">강민혁</h5>
            <h5 id="content_ready_content_contents_exp">cj인사팀 출신 컨설턴트로서, 취업고민에 대한 실시간 Q&A를 운영합니다.</h5>
        </div>
    </div>
    <div class="content_ready_content mobile_no">
        <div class="content_ready_content_contents">
            <iframe src="https://www.youtube.com/embed/JUCET8U0BA4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h5 id="content_ready_content_contents_title">"한국철도공사" 자소서 항목 분석</h5>
            <h5 id="content_ready_content_contents_name">더빅TV</h5>
            <h5 id="content_ready_content_contents_exp">금융권·대기업·공기업 인사부/현직자 출신 더빅스쿨 멘토가 운영하는 채널입니다.</h5>
        </div>
        <div class="content_ready_content_contents">
            <iframe src="https://www.youtube.com/embed/KQLTfgBl5Dg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h5 id="content_ready_content_contents_title">수리능력 - 의리게임 값 구하기</h5>
            <h5 id="content_ready_content_contents_name">제이든</h5>
            <h5 id="content_ready_content_contents_exp">NCS 문제를 풀이해주는 채널로, 무료로 질문하고 학습할 수 있는 곳!</h5>
        </div>
        <div class="content_ready_content_contents">
            <iframe src="https://www.youtube.com/embed/xNcWZpufxb4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h5 id="content_ready_content_contents_title">고스펙이 아닌데도 대기업 15곳을 합격할 수 있었던 꿀팁</h5>
            <h5 id="content_ready_content_contents_name">tvN D ENT</h5>
            <h5 id="content_ready_content_contents_exp">즐거운 예능채널! 쉬었다 합시다!</h5>
        </div>
    </div>
</div>

{% endblock %}