{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="letter">
    &nbsp;안녕하세요! 저희는 경영학부 15학번 및 16학번으로 구성된 NODOUBT 팀입니다.<br>
    이렇게 글을 남기게 된 이유에 대해 말씀드리겠습니다.<br><br>
    &nbsp;아쉽게도 저희는 전문적인 서비스 기획자 및 개발자가 아닙니다.<br>
    이로 인해, 저희가 만든 서비스를 이용하시는 중에 불편함과 아쉬움을 많이 느끼실 것이라고 생각됩니다.<br>
    웹 페이지 및 제공될 서비스에서의 개선점이 많을 것으로 예상하며, 앞으로도 계속 추가적인 기능을 제공드리고자 합니다.<br><br>
    &nbsp;제가 말씀드리고 싶은 부분은 저희가 개선해야 할 점을 미처 파악하지 못할 수 있다는 것입니다.<br>
    따라서 아래 버튼을 통해, 저희에게 아낌없이 피드백 또는 문의사항을 주신다면 정말 감사하겠습니다.<br><br>
    <div class="letter_center">
        <a href="{% url 'main:feedback' %}"><button>피드백 및 요청사항 남기기</button></a><br><br>
    </div>
    
    &nbsp;어떠한 주제와 내용도 좋습니다.<br>
    '웹 사이트 디자인이 수정되었으면 좋겠습니다.', '커뮤니티 기능도 추가해주세요.'등의 의견을 주신다면,<br>
    추가 회의를 통해 최대한 적용해보고자 노력하겠습니다.<br><br>
    긴글 읽어주셔서 감사합니다.<br><br>
    <div class="letter_center">- NODOUBT 드림 -</div>
</div>
{% endblock %}