<!-- {% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
	<h1>글 작성하기</h1>
	
	<form action = "{% url 'main:create' %}" method = "post" enctype="multipart/form-data">
    	{% csrf_token %}
    	<p>회사: <input type="text" name="company"></p>
    	<p>직무: <input type="text" name="job"></p>
		<p>취업년도: <input type="text" name="employed_year"></p>
    	<p>사진: <input type="file" name="image"></p>
    	<p>내용: <input type="text" name="body" id="" cols="30" rows="10"></p>
    	<button type="submit">제출</button>
	</form>
</div>

{% endblock %} -->
