<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6478f529f2.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div id="body_div" style="padding-top: 20px; background-color: rgba(130, 168, 212, 0.1); width: 600px; margin: 0 auto;">
        <p id="company_name" style="font-size: 55px; text-align: center; font-family: 'Monoton', cursive;"><a href="http://nodoubt.site/" target="_blank" style="text-decoration: none; color: black;">NODOUBT</a></p>
        <div class="oneline_notify" style="padding: 0px 0px 32px 0px; border-top: 1px solid black; border-bottom: 1px solid black; color: black;">
            <div class="notify">
                <h2 style="padding-top: 20px; color: black;">&#128226;  알려드립니다!</h2>
                <h3 style="padding-left: 30px; color: black; font-weight: 400; color: black;"><i class="far fa-dot-circle fa-sm"></i> 선배들의 자소서 내의 스펙, 활동 등의 정보를 우선 제공합니다</h3>
                <h3 style="padding-left: 30px; color: black; font-weight: 400; color: black;"><i class="far fa-dot-circle fa-sm"></i> 해당 자소서의 핵심 POINT를 요약하여 제공합니다</h3>   
            </div>
        </div>
        <!---->
        <div class="sample_title" style="padding: 0px 50px; padding-top: 12px; color: black;">
            <h3 id="sample_title_first" style="opacity: .7; color: black;">중소기업의 투자를 돕는 공기업!</h3>
            <h2 id="sample_title_second" style="color: orange;">대한 무역 진흥 공사 코트라</h2>
            <h4 id="sample_title_third" style="opacity: .7; color: black; text-align: center; padding-top: 20px; padding-bottom: 4px;">취뽀 선배의 스펙</h4>
        </div>
        <div class="sample" style="padding-bottom: 40px; color: black;">
            <div class="sample_content" style="border: 1px solid orange; width: 440px; background-color: white; padding: 30px; margin: 0 auto; color: black;">
                <div class="sample_content_private" style="padding-bottom: 15px;">
                    <h2>개인정보</h2>
                    <div class="sample_content_private_content" style="padding-left: 20px;">
                        <p>블라인드 채용으로 학교명, 학점을 공개하지 않았습니다.</p>
                    </div>
                </div>
                <div class="sample_content_language" style="padding-bottom: 15px;">
                    <h2>어학능력</h2>
                    <div class="sample_content_language_content" style="padding-left: 20px;">
                        <p>토익 930점</p>
                        <p>오픽 AL Level</p>
                    </div>
                </div>
                <div class="sample_content_certificate" style="padding-bottom: 15px;">
                    <h2>자격증</h2>
                    <div class="sample_content_certificate_content" style="padding-left: 20px;">
                        <p>컴퓨터 활용 능력 1급 필기</p>
                    </div>
                </div>
                <div class="sample_content_activity_in" style="padding-bottom: 15px;">
                    <h2>교내활동</h2>
                    <div class="sample_content_activity_in_content" style="padding-left: 20px;">
                        <p>없음</p>
                    </div>
                </div>
                <div class="sample_content_activity_out" style="padding-bottom: 15px;">
                    <h2>대외활동</h2>
                    <div class="sample_content_activity_out_content" style="padding-left: 20px;">
                        <p>없음</p>
                    </div>
                </div>
                <div class="sample_content_career">
                    <h2>경력사항</h2>
                    <div class="sample_content_career_content" style="padding-left: 20px;">
                        <p>없음</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="summary" style="padding-bottom: 20px; color: black;">
            <div class="summary_title">
                <h1 style="color: orange;">취뿌&nbsp;POINT!!</h1>
            </div>
            <div class="summary_content">
                <div class="summary_content_question" style="padding-bottom: 20px;">
                    <h2>&#129300; 자소서 작성 전에 기업 리서치는 필수!</h2>
                    <p style="padding: 4px 20px;">위 선배의 스펙을 보면 어학점수가 높은 편이지만 스펙이 화려하진 않아요. 위 선배는 자소서를 쓰기 전 기업에 대한 많은 리서치를 강조했고 기업의 지향점, 특징을 바탕으로 자신의 경험을 녹여냈다고 해요! 실제 면접에서도 기업과 팀 업무 이해도 위주의 질문을 리서치한 내용을 토대로 답변했다고 하고요. 그럼 선배의 자소서 한 부분을 참고해 볼까요?</p>
                </div>
                <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;취뿌 선배의 자소서 중...</h2>
                <div class="summary_content_exp" style="width: 480px; margin: 0 auto; background-color: white; padding-bottom: 20px;">
                    <h3>Q: 지원동기, 입사 후 계획 (500~1000자)</h3>
                    <div class="summary_content_exp_sample" style="padding: 0px 20px;">
                        <p style="padding: 4px 0px;">저는 코트라에서 외부적으로도 여러 성과를 내는 것과 동시에 10년 넘게 공공기관 <strong style="color: orange;">평가 A등급을 유지한 공사</strong>가 어떠한 방식으로 내부평가를 진행하고 개선해 나아가며 건강한 조직을 유지하는지에 대한 방법을 배우고 싶습니다. ······ <strong style="color: orange;">코트라의 CSR 활동 중 몽골의 경찰들을 대상으로 진행했던 치과 진료 사업, 이스라엘과 레바논을 대상으로 진행한 저비용 의수 보급 사업이 매우 인상 깊었습니다.</strong> 사회적으로 공헌을 하는 사업을 진행하며 그 과정을 통해 국내 중소, 중견기업들에 수출의 문을 열어주고 <strong style="color: orange;">MOU를 체결하는 등, 사회적 책임과 중소, 중견기업의 해외 진출이라는 궁극적인 목표</strong>까지 한 번에 이루어내는 코트라를 보며 ······</p>
                    </div>
                </div>
                <div class="summary_content_answer" style="padding-bottom: 20px;">
                    <h2 style="opacity: .5;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;요약 및 정리</h2>
                    <p style="padding: 0px 20px;">1. 자소서 작성 전 <strong>기업 리서치를 통해 지향점 및 특징을 파악</strong>하기!</p>
                    <p style="padding: 0px 20px;">2. <strong>기업의 지향점, 하는 일과 자신의 경험을 연결짓기!</strong></p>
                </div>
            </div>
        </div>
        <!-- break -->
        <div class="end_ment" style="color: black; padding: 0px 40px 30px 40px; text-align: center;">
            <h5>NODOUBT 팀도 같은 취준생으로써 많은 불편함과 힘듦을 느끼고 있어요.<br>
                취준의 힘듦을 덜어주고자 이런 서비스를 만들어 봤습니다.저희 서비스의<br>
                아쉬운 점이나 불편한 점이 있다면, 아래의 버튼을 클릭하여 피드백을 남겨주세요.<br>
                피드백을 제공해주시면 다음 신청서 제출 시, NODOUBT의 유형별 자료를 받아보실 수 있습니다.</h5><br>
            <a href="http://nodoubt.site/feedback/" target="_blank" style="text-decoration: none; color: black;"><button id="btn" style="width: 200px; height: 40px; background-color: orange; border-radius: 10px;">피드백 제출하러 가기</button></a>
        </div>
    </div>
</body>
</html>