{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% providers_media_js %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<!--로그인-->
<div class="login">
  <!-- <h1 class="login_title">{% trans "Sign In" %}</h1>
  <form class="login_go" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    <p><label for="id_login"></label> <input type="text" name="login" placeholder="  아이디" autocomplete="username" maxlength="150" required="" id="id_login" style="border-radius: 10px; height:40px; width:250px; font-size:15px;"></p>
    <p><label for="id_password"></label><input type="password" name="password" placeholder="  비밀번호" autocomplete="current-password" required="" id="id_password" style="border-radius: 10px; height:40px; width:250px; font-size:15px;"></p>
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="login_go_button">
      <button class="primaryAction" type="submit" style="font-size: 20px;">{% trans "Login" %}</button>
    </div>
    <div class="login_go_password_clear">
      <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </div>  
    </form>

  {% get_providers as socialaccount_providers %}

  {% if socialaccount_providers %}
    <p class="login_signup">{% blocktrans with site.name as site_name %} 아이디가 없다면?   <a class="button login_signup_link" href="{{ signup_url }}">회원가입</a>
    {% endblocktrans %}</p> -->
    <div class="login_socialaccount">
      <h1 class="login_socialaccount_title">소셜 로그인</h1>
      <div class="login_socialaccount_providers">
        <a class="login_socialaccount_providers_list" href=" {% provider_login_url 'google' %}"><i class="fab fa-google fa-3x"></i><h3 class="fa-google_icon_exp">구글 로그인</h3></a>
      </div>
      <br>
      <div>
        <p id="login_error_title">로그인이 되지 않는다면?&nbsp;<i class="fas fa-long-arrow-alt-down"></i></p>
        <p style="display: none; text-align: start; padding: 0px 10px;" id="login_error_content">현재 소셜미디어를 통해 로그인을 시도할 시, 로그인이 되지 않는 오류를 발견했습니다. 소셜미디어 자체 브라우저가 아닌,<strong> Chrome, Firefox 등의 브라우저를 통해 접속해 주시길 바랍니다. 카카오톡의 경우는 우측 하단 버튼, 인스타그램의 경우는 우측 상단 버튼을 통해 </strong>타 브라우저에서 열 수 있습니다.</p>
      </div>
    </div>
    {% include "socialaccount/snippets/login_extra.html" %}

  {% else %}
    <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
  {% endif %}
</div>
<script>
    const loginErrorTitle = document.querySelector("#login_error_title");
    const loginErrorContent = document.querySelector("#login_error_content");
    const loginErrorTitleIcon = loginErrorTitle.querySelector("i");
    let contentVisible = false;

    loginErrorTitle.addEventListener("click", contentControl);

    function contentControl(){
        if(contentVisible == false){
            loginErrorTitleIcon.className = "fas fa-long-arrow-alt-up";
            loginErrorContent.style.display = "block";
            contentVisible = !contentVisible;
        }
        else{
          loginErrorTitleIcon.className = "fas fa-long-arrow-alt-down";
          loginErrorContent.style.display = "none";
          contentVisible = !contentVisible;
        }
    }
</script>
{% endblock %}
